.filter-media {
    flex: 1 66.1667%;
    max-width: 66.1667%;
    .list-tool {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .search {
            width: 49%;
            height: 40px;
            display: flex;
            align-items: baseline;
            background-color: #f1f1f1;
            margin-right: 1%;
            input {
                border: none;
                outline: none;
                width: 100%;
                height: 100%;
                background-color: transparent;
                padding-left: 20px;
                &:focus {
                    border: none;
                    outline: none;
                    box-shadow: unset;
                }
            }
            button {
                background-color: unset;
                color: #707070;
                border: none;
                outline: none;
                &:focus {
                    border: none;
                    outline: none;
                    box-shadow: unset;
                }
            }
        }
        .calender {
            margin-left: 1%;
            margin-right: 1%;
            input {
                border: unset;
                background: #f1f1f1;
                padding: 7px;
                &:focus-visible {
                    outline: none;
                }
            }
        }
        .filter {
            margin-right: 1%;
            width: 16%;
            cursor: pointer;
            &__title {
                background: #f1f1f1;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 8px;
                cursor: pointer;
                label {
                    margin: 0;
                    cursor: pointer;
                }
            }
            .filler-list {
                position: absolute;
                top: 46px;
                left: 0;
                z-index: 4;
                display: none;
                transform-origin: calc(100% - 32px) top;
                will-change: opacity, transform;
                animation: Growth ease-in 0.5s;
                width: 100%;
                transition: top .5s;
                &::before {
                    content: "";
                    border-width: 20px 27px;
                    border-style: solid;
                    border-color: transparent transparent #f1f1f1 transparent;
                    position: absolute;
                    right: 165px;
                    top: -27px;
                }
                .search-cate {
                    padding: 0;
                    background-color: #f1f1f1;
                    display: flex;
                    justify-content: space-between;
                    padding: 2% 0.7% 2% 2%;
                    .pretty {
                        line-height: 1.1;
                        
                    }
                    
                    @media only screen and (max-width: 1080px){
                        flex-wrap: wrap;
                        margin: 2% 0;
                        justify-content: flex-start;
                        .pretty {
                            margin: 10px;
                        }
                    }
                }
            }
        }
        .arrange {
            .sort-list {
                .select2-container--default .select2-selection--single {
                    background-color: #f1f1f1;
                    border-radius: unset;
                    border: unset;
                    height: 40px;
                    display: flex;
                    margin-left: 1%;
                    align-items: center;
                    .select2-selection__arrow {
                        height: 40px;
                    }
                }
                .select2-selection__rendered{
                    width: 157px;
                    padding-left: 0;
                }
            }
        }
        .dropdown-filter-mobile.video{
            @media only screen and (max-width: 600px){
              
                margin-left: 0px;
               
            }
        }
        .dropdown-filter-mobile{

            display: none;
            @media only screen and (max-width: 600px){
                width: 60% !important;
                margin-left: 16px;
                margin-top: 5px;
            }
            @media only screen and (max-width: 420px){
                width: 64% !important;
            }
            @media only screen and (max-width: 400px){
                width: 60% !important;
            }
            @media only screen and (max-width: 360px){
                width: 58% !important;
            }
            @media only screen and (max-width: 320px){
                width: 52% !important;
            }
            @media only screen and (max-width: 300px){
                width: 40% !important;
            }
            @media only screen and (max-width: 1080px){
                display: block;
                margin-right: 5px;
                cursor: pointer;
                width: 15%;
                -webkit-appearance: none !important;
                appearance: none !important;
                opacity: 1 !important;
                -moz-appearance: none !important;

               
    
   
            .datepicker-mobile{
                    margin: -2px -97px;
                    border: none;
                    -webkit-appearance: none !important;
                    appearance: none !important;
                    opacity: 1 !important;
                    -moz-appearance: none !important;
                    @media only screen and (max-width: 600px){
                        margin: 129px 1px;
                    }
                    li{
                    height: 50px;
                    
                        a{
                        
                            .datepicker{
                                input{
                                    border-color: #f1f1f100 !important;
                                    background-color: #f1f1f1;
                                   
                                }
                            }
                            
                        }
                    }
                }
                .dropdown-menu{
                    top: 2px !important;
                    left: -103px !important;
                    border: none;
                    @media only screen and (max-width: 600px){
                        left: 0 !important;
                    }
                    .date-mobile{
                        font-size: 20px;
                        position: absolute;
                        right: 25px;
                        top: 17px;
                    }
                    .filter-mobile{
                        font-size: 20px;
                        position: absolute;
                        right: 25px;
                        top: 57px;
                    }
                   
                }
                .filter-menu{
                    top: 0 !important;
                    left: -377px !important;
                    border: none;
                    transform: translateX(-197px);
                    @media only screen and (max-width: 768px){
                        left: -253px !important;
                    }
                    @media only screen and (max-width: 600px){
                        left: -48px !important;
                        top: 130px !important;
                        transform: translateX(49px);
                    }
                    @media only screen and (max-width: 400px){
                        transform: translateX(0px);
                    }
                }
                ul{
                    background-color: #f1f1f1;
                    padding: 7px 16px 0;
                   
                    a{
                       
                        color: unset;
                        // padding-left: 8px;
                        padding-right: 20px;
                        color: #444;
                         line-height: 40px;
                    }
                    
                    li{
                        &:nth-child(2){
                            border-top: 1px solid rgba(54, 54, 54, 0.507);
                            border-bottom: 1px solid rgba(54, 54, 54, 0.507);
                          
                            
                        }
                        // padding: 0 10px;
                        a{
                          
                            color: unset;
                      
                        }
                        
                        // .sort-mobile{
                        //     margin: -107px -72px !important;
                        // }
                        
                        .sort-list {
                            select{
                                border: none !important;
                            }
                            
                            .select2-container--open .select2-dropdown--below{
                                // margin: -106px -158px !important;
                                border: none !important;
                               
                            }
                           
                            .select2-search.select2-search--dropdown .select2-search__field{
                                display: none !important;
                            }
                            .select2-search--dropdown{
                                display: none !important;
                            }
                            .select2-container--default .select2-selection--single .select2-selection__arrow b{
                                display: none !important;
                            }
                            .select2-container--default .select2-selection--single {
                                background-color: #f1f1f1;
                                border-radius: unset;
                                border: unset;
                                height: 40px;
                                display: flex;
                                margin-left: 1%;
                                align-items: center;
                                width: 100px;
                                width: max-content;
                                .select2-selection__arrow {
                                    height: 40px;
                                  
                                }
                                .select2-selection__rendered{
                                    width: 157px;
                                    padding-left: 0;
                                   
                                }
                            }
                        }
                       
                        
                    }
                   
                }
              
               
                button{
                    width: 100%;
                    border-radius: unset;
                    height: 40px;
                    background-color: #f1f1f1 !important;
                    margin-left: 0;
                    // @media only screen and (max-width: 600px){
                    //     transform: translate(-120px, 41px);
                    //     width: 346%;
                    // }
                    i{
                        font-size: 20px;
                        position: absolute;
                        right: 15px;
                        top: 10px;
                        @media only screen and (max-width: 300px){
                           right: 9px;
                        }
                    }
               
                }
                .dropdown-toggle::after{
                    display: none !important;
                }
            }
        }
        .search-btn{
            display: none;
            @media only screen and (max-width: 1080px){
                display: block;
                -webkit-appearance: none !important;
                appearance: none !important;
                opacity: 1 !important;
                -moz-appearance: none !important;
                button{
                    height: 40px;
                    background: $main_color !important;
                    border-radius: unset !important;
                    border: unset !important;
                }
                

            }
            @media only screen and (max-width: 600px){
                margin-top: 5px;
            }
        }
    }
} 

.select2-dropdown{
    @media only screen and (max-width: 1080px){
        border: none !important;
        // margin: -133px -186px;
    }
    @media only screen and (max-width: 600px){
        // margin: -225px -128px;
        // width: 109px !important;
    }
} 