.add-bg-color {
    background-color: $white !important;
    box-shadow: 0 0 2px 2px #ccc;
    top: 0!important;
    transition: all .5s ease;
    animation: smoothScroll 1s forwards;
}

.add-bg-top {
    background-color: #F6F6F7 !important;
    transition: all .5s ease;
}

.add-color-boder {
    opacity: 1!important;
    visibility: visible!important;
    transition: all .5s ease;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background: transparent;
    // box-shadow: 0 0 2px 2px #ccc;
    .header-top {
        position: relative;
        background-color: transparent;
        height: 42px;
        .boder-header {
            border: 20px solid $white;
            bottom: 0;
            position: absolute;
            content: "";
            border-top-width: 0;
            border-left-width: 0;
            width: 27%;
            z-index: 1;
            border-right-color: transparent;
            opacity: 0;
            visibility: hidden;
        }
        .list-item-top {
            display: flex;
            justify-content: flex-end;
            line-height: 42px;
            .item-top {
                margin-right: 70px;
                &__link {
                    color: $white;
                    text-decoration: none;
                }
            }
            .item-top:last-child {
                margin-right: 0;
                .navbar-nav {
                    position: unset;
                    .dmenu {
                        &::before {
                            position: absolute;
                            content: "";
                            bottom: -10px;
                            height: 20px;
                            background: transparent;
                            width: 100%;
                            left: 0;
                            z-index: 1;
                        }
                        &:hover .dropdown-menu {
                            display: block!important;
                        }
                        .dropdown-toggle::after {
                            display: none;
                        }
                        a {
                            color: $white;
                            text-decoration: none;
                            padding: 0;
                        }
                        .dropdown-menu {
                            transform: unset;
                            top: unset;
                            // display: none;
                            position: absolute;
                            background-color: unset;
                            padding: 0;
                            border: unset;
                            width: max-content!important;
                            a {
                                color: $gray_text;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .navbar {
        padding: unset;
        .logo_link-white {
            position: relative;
            top: -10px;
            padding: 16px 0;
            margin: 0;
        }
        .logo_link-blue {
            position: relative;
            top: -10px;
            padding: 16px 0;
            margin: 0;
            display: none;
        }
        .navbar-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .nav-item {
                padding: 19px 0;
                a {
                    color: $white;
                    font-family: $MyriadPro-Bold;
                    text-decoration: none;
                }
            }
            .nav-item:first-child {
                margin-left: 11%;
            }
            .nav-item:last-child a {
                color: $blue_button!important;
                font-family: unset;
            }
            .dropdown {
                &:hover .dropdown-menu {
                    display: block!important;
                }
                &::before {
                    position: absolute;
                    content: "";
                    bottom: -10px;
                    height: 10px;
                    background: transparent;
                    width: 100%;
                    left: 0;
                }
                .dropdown-menu {
                    margin: 0;
                    padding: 0;
                    left: -30px;
                    .cmenu {
                        position: relative;
                        &:hover .dropdown-item::before {
                            width: 100%;
                        }
                    }
                    .dropdown-item {
                        text-transform: uppercase;
                        font-size: 15px;
                        padding: 15px 30px;
                        color: unset;
                        font-family: unset;
                        &::before {
                            content: "";
                            position: absolute;
                            left: 0px;
                            bottom: 0px;
                            width: 0%;
                            height: 1px;
                            transition: all 0.35s ease-out;
                            -webkit-transition: all 0.35s ease-out;
                            background-color: $big-title;
                            z-index: 1000;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1680px) {
    .header {
        .header-top {
            height: 36px;
            .list-item-top {
                line-height: 36px;
                .item-top {
                    margin-right: 40px;
                }
            }
        }
        .navbar {
            .logo_link {
                padding: 10px 0;
            }
            .navbar-nav {
                .nav-item {
                    padding: 11px 0;
                }
                .dropdown {
                    .dropdown-menu {
                        top: 110%;
                    }
                }
            }
        }
    }
}

//animation
.fade-in {
    animation: fadein .5s;
    opacity: 1 !important;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}