.add-bg-top {
    background-color: #F6F6F7 !important;
    &::after {
        opacity: 1!important;
        visibility: visible!important;
    }
}

.add-bg-color {
    background-color: $white !important;
    box-shadow: 0 5px 8px -5px #555;
    top: 0px;
    // transition: all .1s ease-in-out;
}

.header {
    @media only screen and (max-width: 1080px){display: none !important;}
    width: 100%;
    position: fixed; 
    top: 0;
    z-index: 100;
    background: transparent;
    transition: top .6s ease-out;
    .header-top {
        position: relative;
        background-color: transparent;
        height: 42px;
        
        &::after {
            content: "";
            position: absolute;
            border: 18px solid $white;
            bottom: 0;
            position: absolute;
            content: "";
            border-top-width: 0;
            border-left-width: 0;
            width: 27%;
            z-index: 1;
            border-right-color: transparent;
            opacity: 0;
            visibility: hidden;
        }
        .list-item-top {
            display: flex;
            justify-content: flex-end;
            line-height: 42px;
            .item-top {
                margin-right: 70px;
                &__link {
                    color: $white;
                    text-decoration: none;
                }
            }
            .item-top:last-child {
                margin-right: 0;
                .language {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    li:first-child {
                        margin-right: 20px;
                        font-weight: bold;
                    }
                    li a {
                        color: $white;
                    }
                }
            }
        }
    }
    .navbar {
        @media only screen and (max-width: 1080px){display: none;}
        padding: unset;
        .logo_link-white {
            position: relative;
            top: -8px;
            padding: 16px 0;
            margin: 0;
        }
        .logo_link-blue {
            position: relative;
            top: -8px;
            padding: 16px 0;
            margin: 0;
            display: none;
        }
        .navbar-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .nav-item {
                padding: 19px 0;
                a {
                    color: $white;
                    font-family: $MyriadPro-Bold;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
            .nav-item:first-child {
                margin-left: 11%;
            }
            .nav-item:last-child {
                position: unset;
                &:hover .dropdown-menu.dropdown--search {
                    display: block!important;
                }
            }
            .dropdown {
                &:hover .dropdown-menu {
                    display: block!important;
                }
                &:not(:last-child)::before {
                    position: absolute;
                    content: "";
                    bottom: -10px;
                    height: 10px;
                    background: transparent;
                    width: 100%;
                    left: 0;
                }
                .dropdown-menu {
                    margin: 0;
                    padding: 0;
                    left: -30px;
                    .cmenu {
                        position: relative;
                        &:hover .dropdown-item::before {
                            width: 100%;
                        }
                    }
                    .dropdown-item {
                        text-transform: uppercase;
                        font-size: 15px;
                        padding: 15px 30px;
                        color: unset;
                        font-family: unset;
                        &::before {
                            content: "";
                            position: absolute;
                            left: 0px;
                            bottom: 0px;
                            width: 0%;
                            height: 1px;
                            transition: all 0.35s ease-out;
                            -webkit-transition: all 0.35s ease-out;
                            background-color: $big-title;
                            z-index: 1000;
                        }
                    }
                }
                .dropdown-menu.dropdown--search {
                    top: 100%;
                    left: 11%;
                    margin: 0;
                    padding: 0; 
                    width: 100%;
                    background-color: unset;
                    border: none;
                    display: none;
                    .search-box {
                        margin: 0 auto;
                        width: 80%;
                        button {
                            background-color: $main_color;
                            border: none;
                        }
                        input:focus {
                            box-shadow: unset;
                            outline: none;
                            border: 1px solid #ced4da;
                            ;
                        }
                    }
                }
            }
            .dropdown {
                &:last-child::after {
                    position: absolute;
                    content: "";
                    bottom: -10px;
                    height: 40px;
                    background: transparent;
                    width: 11%;
                    right: 0;
                }
            }
        }
    }
}

@media screen and (max-width:1680px) {
    .header {
        .header-top {
            height: 36px;
            .list-item-top {
                line-height: 36px;
                .item-top {
                    margin-right: 40px;
                }
            }
        }
        .navbar {
            .logo_link {
                padding: 10px 0;
            }
            .navbar-nav {
                .nav-item {
                    padding: 11px 0;
                }
                .dropdown {
                    .dropdown-menu {
                        top: 110%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:991px) {
    .header {
        .navbar {
            .logo_link-blue,
            .logo_link-white {
                top: unset;
            }
            .navbar-toggler {
                color: $white;
            }
            .navbar-nav {
                .nav-item:first-child {
                    margin-left: unset;
                }
            }
        }
    }
}

@media screen and (max-width:480px) {
    .header {
        .header-top {
            .list-item-top {
                .item-top {
                    margin-right: 20px;
                }
            }
        }
        .navbar {
            .logo_link-blue,
            .logo_link-white {
                img {
                    width: 80%;
                }
            }
            .navbar-toggler {
                font-size: 24px;
                padding: 0;
                &:focus {
                    outline: none;
                    border: none;
                }
            }
        }
    }
}

//animation
.fade-in {
    animation: fadein .5s;
    opacity: 1 !important;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav-up {
    top: -98px;
}




  
.nav-bar-mobile {
    height: 70px;
    background: #fff ;
    display: none;
    
    @media only screen and (max-width: 1080px){
        display: block;
        position: fixed;
        z-index: 99; 
    .nav-container {
        max-width: 1000px;
        margin: 0 auto;
        
       
        .brand {
            position: absolute;
            top: 0;
            right: 45%;
            bottom: 0;
            padding-top: 20px;
            position: fixed;
            z-index: 999; 
            @media only screen and (max-width: 768px){ right: 40%;}
            a img {
                max-height: 70px;
                @media only screen and (max-width: 600px){
                    max-height: 15px;
                }
            }
            a,a:visited {
                color: #ffffff;
                text-decoration: none;
                
            }
            
        }
       
        .language{
            display: flex;
            position: fixed;
            z-index: 999; 
            right: 5%;
            top: 2%;
            @media only screen and (max-width: 768px){top: 3%;}
            @media only screen and (max-width: 600px){top: 3.7%;}
            
            #wrap {
                margin: -5px 8px;
                display: inline-block;
                position: relative;
                height: 60px;
                float: right;
                padding: 0;
                position: relative;
                @media only screen and (max-width: 600px){
                    margin-top: -3px;
                    margin-right: 5px;
                }
                ion-icon{
                    appearance: none;
                    -webkit-appearance: none;
                    opacity: 1;
                    -moz-appearance: none;
                    font-size: 25px;
                    color: rgba(0, 0, 0, 0.568);
                    @media only screen and (max-width: 600px){
                        font-size: 18px;
                    }
                }
            }
            
            input[type="text"] {
            height: 55px;
           
            font-size: 25px;
            display: inline-block;
            font-family: $MyriadPro-Regular;
            font-weight: 100;
            border: none;
            outline: none;
            color: #555;
            padding: 3px;
            padding-right: 60px;
            margin-top: -12px;
            width: 0px;
            position: absolute;
            top: 0;
            right: 0;
            background: none;
            z-index: 999;
            transition: width .8s cubic-bezier(0.000, 0.795, 0.000, 1.000);
            cursor: pointer;
            @media only screen and (max-width: 600px){font-size: 16px; height: 50px;}
            }
            
            input[type="text"]:focus:hover {
            border-bottom: 1px solid #BBB;
            }
            
            input[type="text"]:focus {
            width: 75vw;
            z-index: 1;
            // border-bottom: 1px solid #BBB;
            cursor: text;
            background: #fff;
            }
            input[type="submit"] {
            height: 67px;
            width: 63px;
            display: inline-block;
            color:red;
            float: right;
            text-indent: -10000px;
            border: none;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            cursor: pointer;
            opacity: 0;
            cursor: pointer;
            transition: opacity 1s ease;
            }
              
            input[type="submit"]:hover {
            opacity: 0;
            }

           li{
               white-space: unset; 
                overflow: hidden;
                text-overflow: clip;
                line-height: 22px;
                height: 20px;
                @media only screen and (max-width: 600px){
                    height: 15px;
                    line-height: 17px;
                }
               a{
               
                   color: rgba(0, 0, 0, 0.568);
                   font-size: 20px;
                   font-family: $MyriadPro-Regular;
                   @media only screen and (max-width: 600px){
                    font-size: 15px;
                    }
                    &:hover{
                        color: $main_color;
                    }
                }
              .active{
                color: $main_color;
              }
               &:last-child{
                margin-left: 5px;
                margin-right: 5px;
                padding-left: 5px;
                border-left: 1px solid black;
                
                
            }
            &:hover{
                color: $main_color;
            }
            
           }
          
        }
        nav {
            float: left;
            position: fixed;
            z-index: 99; 
            background: #fff;
           
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                background: #fff;
                margin: 20px 0;
                
                .nav-dropdown{
                    margin: 5px 0;
                }
                .icon-social{
                    display: flex;
                    margin-left: 10px;
                    @media only screen and (max-width: 600px){margin-left: 5px;}
                   a{
                      
                       img{
                          width: 40px;
                          height: 40px;
                           margin: 0 -10px;
                           @media only screen and (max-width: 600px){
                            width: 30px;
                            height: 30px;
                            margin: 0 -5px;
                           }
                       }
                   }
                }
            }
            
        }
 
    }   

  
  
  
  nav ul li {
    float: left;
    position: relative;
    text-transform: uppercase;
    
  }
  nav ul li a,
  nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
     background: #fff;
    color: $gray_text;
    text-decoration: none;
    font-size: 25px;
    font-family: $MyriadPro-Bold;
    
    @media only screen and (max-width: 600px){
        font-size: 15px;
    }
  }
  nav ul li a:hover,
  nav ul li a:visited:hover {
    
    color: $main_color;
  }
  nav ul li a:not(:only-child):after,
  nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    
  }
  nav ul li ul li {
    min-width: 190px;
  }
  nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
    @media only screen and (max-width: 600px){
        padding: 5px;
    }
    
  }

  .nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    // box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    font-family: $MyriadPro-Regular;
   
  }
  .nav-mobile {
    position: absolute;
    top: 0;
    left: 0;
    // background: #fff;
    height: 70px;
    width: 70px;
    position: fixed;
    z-index: 99; 
    
  }
  
  @media only screen and (max-width: 1080px) {
    
  
    nav {
      width: 100%;
      padding: 70px 0 15px;
      box-shadow: 0 5px 5px -5px rgba(116, 116, 116, 0.61);
      @media only screen and (max-width: 600px){
        padding: 50px 0 15px;
        }
    }
    nav ul {
      display: none;
     
    }
    nav ul li {
      float: none;
      .logo{
          color: #000;
         
      }
    }
    nav ul li a {
      padding: 15px;
      line-height: 20px;
      padding-left: 5%;
      @media only screen and (max-width: 600px){
          padding: 5px;
          padding-left: 5%;
      }
       
    }
    nav ul li ul li a {
      padding-left: 10%;
      font-family: $MyriadPro-Regular;
    }
  
    .nav-dropdown {
      position: static;
      ul{
          .active{
              color: $main_color;
          }
      }
      
    }
      .brand a img {
          max-height: 60px;
          margin-top: 5px;
         
          
      }
  }
  @media screen and (min-width: 1080px) {
    .nav-list {
      display: block !important;
      position: fixed;
      z-index: 997; 
     
    }
  }
  #nav-toggle {
    position: absolute;
    left: 50%;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    @media only screen and (max-width: 600px){
        left: 30%;
        
    }
    
  }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 2px;
    height: 5px;
    width: 35px;
    background: #3f3f3fe0;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
    @media only screen and (max-width: 600px){
       width: 25px;
       height: 3.5px;
    }
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }
  #nav-toggle.active span {
    background-color: transparent;
   
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }
  
  article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    
   
  }

}

}