.post-sidebar-content {
    height: max-content;
    max-width: 29.1%;
    position: sticky;
    top: 5px;
    margin-top: 72px;
    .media__content_right {
        box-shadow: 0 7px 10px 1px #3333;
        .list-media-menu {
            padding: 20px 20px 0 20px;
            background: #fff;
            border-radius: 2px;
            h3 {
                color: #000;
            }
            .list-group-item {
                border-bottom: 1px solid #707070;
                border-top: unset;
                border-left: unset;
                border-right: unset;
                color: #1D1D1D;
                padding: 5px 0;
                &:hover {
                    color: $main_color;
                }
            }
            // .list-group-item:last-child {
            //     border: none;
            // }
            .list-group-item.active-row {
                background: none;
                color: $main_color;
            }
        }
        .list-post-new {
            // width: 33%;
            .wrap {
                ul {
                    padding: 0;
                }
                padding: 0 20px;
                background: #fff;
                width: 100%;
                h2 {
                    padding: 20px 0 10px 0;
                    text-transform: uppercase;
                    font-family: $MyriadPro-Bold;
                    border-bottom: 1px solid #707070;
                    color: #000;
                    margin: 0;
                }
                .post-new-item {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 15px;
                    align-items: center;
                    border-bottom: 1px solid #707070;
                    &:hover .title a {
                        color: $main_color;
                    }
                    .post-thumbnail-wrap {
                        margin-right: 5px;
                        width: 30%;
                        .post-thumbnail {
                            margin-bottom: 15px;
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            img {
                                max-width: 100%;
                                transition: transform .3s, visibility .3s ease-in;
                                &:hover {
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                    .title {
                        width: 68%;
                        margin-bottom: 10px;
                        a {
                            height: 40px;
                            display: block;
                            overflow: hidden;
                            // @include split_str(2);
                            color: #000;
                            font-family: $MyriadPro-Bold;
                            line-height: 1.1;
                            color: #1D1D1D;
                        }
                    }
                    .time {
                        font-size: 15px;
                        margin-top: 5px;
                        margin-bottom: 0;
                    }
                }
                .post-new-item:last-child {
                    border: none;
                    padding-bottom: 10px;
                }
            }
        }
    }
}

.post-sidebar-content.mb {
    display: none;
}

@media screen and(max-width:1080px) {
    .post-sidebar-content {
        display: none;
    }
    .post-sidebar-content.mb {
        display: block;
    }
    .post-sidebar-content {
        margin: 40px 0;
        max-width: unset;
        position: unset;
        padding: 0 0;
        .media__content_right {
            box-shadow: unset;
            .list-media-menu {
                padding: unset;
                padding: 0 10px !important;
                // h3 {
                //     font-size: 35px;
                // }
                // .item_link {
                //     font-size: 25px;
                // }
            }
            .list-post-new {
                padding: 0 10px !important;
                .wrap {
                    padding: 0;
                    h2 {
                        font-size: 35px;
                    }
                    .post-new-item {
                        padding-top: 20px;
                        .post-thumbnail-wrap {
                            width: 22%;
                        }
                        .title {
                            width: 76%;
                            // font-size: 25px;
                        }
                        .time {
                            font-size: 17px;
                        }
                    }
                    .post-new-item:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}

@media screen and(max-width:768px) {
    .post-sidebar-content {
        margin: 40px 0;
        max-width: unset;
        position: unset;
        padding: 0 0;
        .media__content_right {
            .list-media-menu {
                // h3 {
                //     font-size: 25px;
                // }
                // .item_link {
                //     font-size: 20px;
                // }
            }
            .list-post-new {
                .wrap {
                    h2 {
                        font-size: 20px;
                    }
                    .post-new-item {
                        .title {
                            // font-size: 20px;
                        }
                        .time {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:480px) {
    .post-sidebar-content {
        .media__content_right {
            .list-media-menu {
                // .item_link {
                //     font-size: 18px;
                // }
            }
            .list-post-new {
                .wrap {
                    .post-new-item {
                        .title {
                            // font-size: 17px;
                        }
                        .post-thumbnail-wrap {
                            width: 30%;
                        }
                    }
                }
            }
        }
    }
}