.filter-search-media.field {
    .form-search {
        display: flex;
        .search {
            width: 66%;
            height: 40px;
            display: flex;
            align-items: baseline;
            background-color: #f1f1f1;
           
            input {
                border: none;
                outline: none;
                width: 100%;
                height: 100%;
                background-color: transparent;
                padding-left: 20px;
                &:focus {
                    border: none;
                    outline: none;
                    box-shadow: unset;
                }
            }
            button {
                background-color: unset;
                color: #707070;
                border: none;
                outline: none;
                &:focus {
                    border: none;
                    outline: none;
                    box-shadow: unset;
                }
            }
        }
        .select-year {
            width: 12%;
            outline: 0;
            box-shadow: none;
            padding: 3px 8px;
            margin: 0 2%;
            font-weight: bold;
            cursor: pointer;
            background-color: #f1f1f1;
            border: unset;
            color: #2E2E2E;
            
        }
        .select-by-field {
            width: 18%;
            outline: 0;
            border: unset;
            box-shadow: none;
            padding: 3px 8px;
            font-weight: bold;
            cursor: pointer;
            background-color: #f1f1f1;
            color: #2E2E2E;
        }
    }
}

@media only screen and (max-width: 1080px){
    .filter-search-media{
        margin-bottom: 20px !important;
    }
}