.media-content {
    .media-wrapper {
        .image__title {
            display: flex;
            align-items: center;
            margin: 0;
            line-height: 43px;
            font-family: $MyriadPro-Bold;
            text-transform: uppercase;
            color: $big-title;
            .big-title {
                margin-bottom: 0;
                margin-left: 10px;
            }
        }
    }
}