@keyframes Growth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.media-content {
    .media-wrapper {
        .image__title {
            display: flex;
            align-items: center;
            margin: 0;
            line-height: 43px;
            font-family: $MyriadPro-Bold; 
            text-transform: uppercase;
            color: $big-title;
            img {
                @media only screen and (max-width: 1080px) {
                    width: 30px;
                }
                @media only screen and (max-width: 600px) {
                    width: 20px;
                }
            }
            .big-title {
                margin-bottom: 0;
                margin-left: 10px;
            }
        }
        .tab-image {
            margin-top: 25px;
            .media__tabs {
                display: flex;
                position: relative;
                margin-left: 1%;
                .nav-tabs {
                    margin-bottom: 20px;
                    border: unset;
                    flex: 1 33.833%;
                    max-width: 33.833%;
                    a {
                        color: unset;
                        &:hover {
                            color: unset;
                        }
                    }
                    .nav-link {
                        background: #f1f1f1;
                        border: none;
                        width: 100% !important;
                        border-top-left-radius: 0;
                        line-height: initial;
                        border-top-right-radius: 0;
                        @media only screen and (max-width: 600px) {
                            padding: 9px 5px !important;
                            width: 90px;
                        }
                    }
                    .nav-link.active {
                        border: 1px solid $main_color;
                        @media only screen and (max-width: 600px) {
                            padding: 9px 5px !important;
                        }
                    }
                }
                .dropdown.dr-mb {
                    display: none;
                }
                @media(max-width: 1080px) {
                    margin-bottom: 15px;
                    .dropdown.dr-mb {
                        background: #f1f1f1;
                        display: block;
                        position: relative;
                        height: 40px;
                        line-height: 40px;
                        .dt {
                            padding: 0 15px;
                            i {
                                margin-left: 10px;
                                font-size: 18px;
                                @media only screen and (max-width: 300px) {
                                    display: none;
                                }
                            }
                        }
                        .dd {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            z-index: 1000;
                        }
                        .nav-tabs {
                            max-width: 100%;
                            flex: 0 0 100%;
                            flex-direction: column;
                            margin-bottom: 0;
                            margin-top: 3px;
                            li {
                                &:first-child {
                                    border-bottom: 1px solid #0F4685;
                                }
                                .nav-link {
                                    padding: 0.5rem 0;
                                    text-align: center;
                                    border: none;
                                    &.active {
                                        color: #0F4685;
                                    }
                                }
                            }
                        }
                    }
                    .dropdown.dr-pc {
                        display: none;
                    }
                    .filter-media {
                        flex: 1;
                        max-width: none;
                        .list-tool {
                            margin-bottom: 0 !important;
                            >div {
                                margin-bottom: 3px;
                            }
                            .search {
                                flex: 1;
                                margin-left: 15px;
                                margin-right: 0;
                                width: auto;
                                min-width: 150px;
                            }
                            .dropdown-filter-mobile {
                                margin-left: 15px;
                            }
                            .search-btn {
                                margin-left: 15px;
                                @media only screen and (max-width: 320px) {
                                    margin-left: 6px;
                                }
                            }
                        }
                    }
                }
            }
            .tab-content {
                #media-album {
                    .list-album {
                        display: flex;
                        flex-wrap: wrap;
                        .album-item {
                            width: 32.3333%;
                            margin-right: 1.5%;
                            margin-bottom: 1.5%;
                            position: relative;
                            background: #f1f1f1;
                            @media only screen and (max-width: 1080px) {
                                width: 48.5%;
                                background: #fff;
                            }
                            &:hover {
                                .album-item__name {
                                    color: $main_color;
                                }
                                box-shadow: 0 7px 10px 1px #3333;
                                transition: all 0.3s;
                                cursor: pointer;
                                img {
                                    filter: drop-shadow(1px 2px 3px #3333);
                                }
                            }
                            &__name {
                                margin: 15px 15px 5px 15px;
                                font-family: $MyriadPro-Bold;
                                @include split_str(2);
                                .name {
                                    margin-bottom: 0;
                                }
                            }
                            &__date {
                                color: #bcbcbc;
                                margin-left: 15px;
                                display: block;
                                margin-bottom: 15px;
                            }
                            &__count {
                                position: absolute;
                                padding: 5px;
                                color: #fff;
                                background: rgba(0, 0, 0, 0.3);
                                top: 20px;
                                z-index: 2;
                                display: flex;
                                left: 20px;
                                align-items: center;
                                @media only screen and (max-width: 600px) {
                                    top: 6px;
                                    left: 6px;
                                    padding: 2px 3px;
                                }
                                .quantity {
                                    margin-bottom: -5px;
                                    margin-left: 10px;
                                    @media only screen and (max-width: 600px) {
                                        margin-bottom: -2px;
                                        font-size: 12px !important;
                                        margin-left: -2px;
                                    }
                                }
                                i {
                                    width: 18px;
                                    height: 18px;
                                    font-size: 18px;
                                    @media only screen and (max-width: 600px) {
                                        font-size: 12px;
                                        margin-top: 4px;
                                    }
                                }
                            }
                            &__count.album {
                                cursor: pointer;
                            }
                            &__download {
                                position: absolute;
                                padding: 5px;
                                color: #fff;
                                background: rgba(0, 0, 0, 0.3);
                                top: 20px;
                                z-index: 2;
                                right: 20px;
                                @media only screen and (max-width: 600px) {
                                    top: 4px;
                                    right: 4px;
                                }
                                i {
                                    @media only screen and (max-width: 600px) {
                                        font-size: 12px;
                                        margin-top: 4px;
                                    }
                                }
                            }
                            img {
                                max-width: 100%;
                                width: 100%;
                                height: 300px;
                                @media only screen and (max-width: 1680px) {
                                    height: 240px;
                                }
                                @media only screen and (max-width: 1080px) {
                                    height: 250px;
                                }
                                @media only screen and (max-width: 768px) {
                                    height: 250px;
                                }
                                @media only screen and (max-width: 600px) {
                                    height: 120px;
                                }
                                @media only screen and (max-width: 360px) {
                                    height: 90px;
                                }
                            }
                        }
                        .album-item:last-child,
                        .album-item:nth-child(3) {
                            margin-right: 0;
                        }
                        .album-item:nth-child(n+1) {
                            @media only screen and (max-width: 1080px) {
                                margin-left: 1%;
                                margin-right: 0;
                            }
                        }
                    }
                }
                #media-single-image {
                    .list-image {
                        display: flex;
                        flex-wrap: wrap;
                        .image-item {
                            width: 32.3333%;
                            margin-right: 1.5%;
                            margin-bottom: 1.5%;
                            position: relative;
                            @media only screen and (max-width: 1080px) {
                                width: 48.5%;
                                background: #fff;
                            }
                            &__back {
                                position: absolute;
                                padding: 5px;
                                color: #fff;
                                background: rgba(0, 0, 0, 0.3);
                                top: 20px;
                                z-index: 2;
                                display: flex;
                                left: 20px;
                                align-items: center;
                                cursor: pointer;
                                @media only screen and (max-width: 600px) {
                                    top: 6px;
                                    left: 6px;
                                    padding: 2px 3px;
                                }
                                .text {
                                    margin-bottom: -5px;
                                    margin-left: 10px;
                                }
                                i {
                                    width: 18px;
                                    height: 18px;
                                    font-size: 18px;
                                }
                            }
                            img {
                                max-width: 100%;
                                width: 100%;
                                height: 300px;
                                @media only screen and (max-width: 1680px) {
                                    height: 240px;
                                }
                                @media only screen and (max-width: 1080px) {
                                    height: 250px;
                                }
                                @media only screen and (max-width: 768px) {
                                    height: 250px;
                                }
                                @media only screen and (max-width: 600px) {
                                    height: 120px;
                                }
                                @media only screen and (max-width: 360px) {
                                    height: 90px;
                                }
                            }
                        }
                        .image-item:last-child,
                        .image-item:nth-child(3) {
                            margin-right: 0;
                        }
                        .image-item:nth-child(n+1) {
                            @media only screen and (max-width: 1080px) {
                                margin-left: 1%;
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
        .video__title {
            display: flex;
            align-items: center;
            margin: 0;
            line-height: 43px;
            font-family: $MyriadPro-Bold;
            text-transform: uppercase;
            color: $big-title;
            .big-title {
                margin-bottom: 0;
                margin-left: 10px;
            }
        }
        .tab-video {
            margin-top: 30px;
            .tab-content {
                #media-video {
                    .list-video-wrapper {
                        margin-top: 20px;
                        .list-video {
                            display: flex;
                            flex-wrap: wrap;
                            .video-item {
                                width: 32.3333%;
                                margin-right: 1.5%;
                                margin-bottom: 1.5%;
                                position: relative;
                                background: #f1f1f1;
                                @media only screen and (max-width: 1080px) {
                                    width: 48.5%;
                                    background: #fff;
                                }
                                &:hover {
                                    .video-item__name {
                                        color: $main_color;
                                    }
                                    box-shadow: 0 7px 10px 1px #3333;
                                    transition: all 0.3s;
                                    cursor: pointer;
                                    img {
                                        filter: drop-shadow(1px 2px 3px #3333);
                                    }
                                }
                                .video-thumbnail {
                                    position: relative;
                                }
                                &__name {
                                    margin: 15px 15px 5px 15px;
                                    font-family: $MyriadPro-Bold;
                                    @include split_str(2);
                                    .name {
                                        margin-bottom: 0;
                                    }
                                }
                                &__date {
                                    color: #bcbcbc;
                                    margin-left: 15px;
                                    display: block;
                                    margin-bottom: 15px;
                                }
                                &__count {
                                    position: absolute;
                                    padding: 5px;
                                    color: #fff;
                                    background: rgba(0, 0, 0, 0.3);
                                    top: 20px;
                                    z-index: 2;
                                    display: flex;
                                    left: 20px;
                                    align-items: center;
                                    @media only screen and (max-width: 600px) {
                                        top: 6px;
                                        left: 6px;
                                        padding: 2px 3px;
                                    }
                                    .quantity {
                                        margin-bottom: -5px;
                                        margin-left: 10px;
                                        @media only screen and (max-width: 600px) {
                                            margin-bottom: 0px;
                                            margin-left: 8px;
                                            font-size: 12px !important;
                                        }
                                    }
                                    i {
                                        width: 18px;
                                        height: 18px;
                                        font-size: 18px;
                                        @media only screen and (max-width: 600px) {
                                            width: 10px;
                                            height: 14px;
                                            font-size: 13px;
                                        }
                                    }
                                }
                                &__count.album {
                                    cursor: pointer;
                                }
                                img {
                                    max-width: 100%;
                                    width: 100%;
                                    height: 300px;
                                    @media only screen and (max-width: 1680px) {
                                        height: 240px;
                                    }
                                    @media only screen and (max-width: 1080px) {
                                        height: 250px;
                                    }
                                    @media only screen and (max-width: 768px) {
                                        height: 250px;
                                    }
                                    @media only screen and (max-width: 600px) {
                                        height: 120px;
                                    }
                                    @media only screen and (max-width: 360px) {
                                        height: 90px;
                                    }
                                }
                            }
                            .video-item:nth-child(3),
                            .video-item:nth-child(6) {
                                margin-right: 0;
                            }
                            .video-item:nth-child(n+1) {
                                @media only screen and (max-width: 1080px) {
                                    margin-left: 1%;
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
                #media-single-video {
                    margin-top: 20px;
                    .media-video {
                        max-height: 32vw;
                        @media only screen and (max-width: 1080px) {
                            max-height: 40vw;
                        }
                        @media only screen and (max-width: 600px) {
                            max-height: 60vw;
                        }
                        .mCSB_scrollTools .mCSB_draggerRail {
                            width: 4px !important;
                            background: rgba(63, 63, 62, 0.596) !important;
                            opacity: 1;
                            @media only screen and (max-width: 1080px) {
                                width: 15px !important;
                            }
                        }
                        .mCSB_scrollTools .mCSB_draggerContainer {
                            border-radius: 5px;
                            width: 4px;
                            background: rgba(238, 238, 238, 0.76);
                            right: 0;
                            margin-right: 0;
                            @media only screen and (max-width: 1080px) {
                                width: 15px;
                                left: -11px !important;
                            }
                        }
                        .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
                            background: #fff;
                        }
                        .mCS-dark.mCSB_scrollTools .mCSB_dragger_bar {
                            background: #fff;
                            display: none;
                        }
                        .list-video {
                            display: flex;
                            @media only screen and (max-width: 600px) {
                                display: unset;
                            }
                            .left {
                                flex: 0 0 68%;
                                margin-right: 2%;
                                @media only screen and (max-width: 600px) {
                                    flex: 0 0 100%;
                                    margin-right: 0;
                                }
                                .name {
                                    font-family: $MyriadPro-Bold;
                                    margin-top: 20px;
                                    margin-bottom: 0;
                                }
                                img {
                                    max-width: 100%;
                                }
                                iframe {
                                    width: 100% !important;
                                    height: 500px;
                                    @media only screen and (max-width: 1680px) {
                                        height: 400px;
                                    }
                                    @media only screen and (max-width: 1080px) {
                                        height: 400px !important;
                                    }
                                    @media only screen and (max-width: 768px) {
                                        height: 350px !important;
                                    }
                                    @media only screen and (max-width: 600px) {
                                        height: 220px !important;
                                    }
                                    @media only screen and (max-width: 350px) {
                                        height: 200px !important;
                                    }
                                    @media only screen and (max-width: 300px) {
                                        height: 150px !important;
                                    }
                                }
                            }
                            .right {
                                flex: 0 0 29%;
                                @media only screen and (max-width: 600px) {
                                    flex: 0 0 100%;
                                }
                                .video-item {
                                    margin-bottom: 6%;
                                    .img-button {
                                        display: block;
                                        position: relative;
                                        .button-video {
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                            transition: 0.2s;
                                            font-size: 50px;
                                            color: #fff;
                                            @media only screen and (max-width: 600px) {
                                                font-size: 20px;
                                            }
                                        }
                                    }
                                    .name {
                                        margin-bottom: 0;
                                        font-family: $MyriadPro-Bold;
                                        @include split_str(2);
                                        @media only screen and (max-width: 1080px) {
                                            margin: 5px 0;
                                            line-height: 1.1;
                                        }
                                        @media only screen and (max-width: 600px) {
                                            font-size: 12px;
                                            line-height: 1;
                                        }
                                    }
                                }
                                img {
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.ytp-cued-thumbnail-overlay {
    @media only screen and (max-width: 600px) {
        height: 35% !important;
    }
}

.ytp-cued-thumbnail-overlay-image {
    @media only screen and (max-width: 600px) {
        height: 35% !important;
    }
}

.ytp-title-text {
    a {
        @media only screen and (max-width: 600px) {
            font-size: 12px !important;
        }
    }
}

.select2-container {
    .select2-dropdown.select2-dropdown--below {
        .select2-search.select2-search--dropdown {
            .select2-search__field {
                height: 40px;
                &:focus {
                    outline: unset;
                    box-shadow: unset;
                }
            }
        }
    }
    .select2-results__option--highlighted.select2-results__option--selectable {
        background: $main_color;
    }
    .select2-results__option--selected {
        background: #f1f1f1;
    }
    .select2-results__option--selectable {
        height: 40px;
        background: #e9e9e9;
        font-size: 16px;
        font-family: $MyriadPro-Regular;
        display: flex;
        align-items: center;
        padding: 0 15px;
        line-height: 1.2;
        @media only screen and (max-width: 600px) {
            width: 119px;
        }
    }
}

// media modal 
.vm--modal {
    height: 80vh !important;
    width: 60% !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    @media (max-width: 1080px) {
        height: 46vh !important;
        width: 80% !important;
    }
    @media (max-width: 768px) {
        height: 47vh !important;
        padding: 15px 0 0 0;
    }
    @media (max-width: 600px) {
        width: 95% !important;
    }
    .modal-main {
        padding: 4%;
        height: 100%;
        .modal-header-custom {
            height: 3vw;
            @media (max-width: 600px) {
                height: 12vw;
            }
            p {
                position: absolute;
                top: 10px;
                right: 20px;
            }
            .name {
                font-family: $MyriadPro-Bold;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }
            .text-right {
                button {
                    @media only screen and (max-width: 600px) {
                        margin-right: -10px;
                        margin-top: -20px;
                        padding: 1px 3px !important;
                        font-size: 15px;
                    }
                }
            }
        }
        .modal-body-custom {
            iframe {
                height: 100%;
            }
            height: 90%;
            .list-item {
                appearance: none;
                -webkit-appearance: none;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 30px;
                @media screen and (max-width: 1680px) {
                    gap: 20px
                }
                @media screen and (max-width: 1440px) {
                    gap: 15px
                }
                @media only screen and (max-width: 600px) {
                    -webkit-grid-template-columns: 1fr 1fr;
                    grid-template-columns: 1fr 1fr;
                    gap: 10px;
                    padding-right: 0;
                    padding-top: 15px;
                }
                padding-right: 30px;
                @media only screen and (max-width: 1080px) {
                    padding-right: 0;
                }
                .item {
                    position: relative;
                    .box-img {
                        img {
                            width: 100%;
                            height: 180px;
                            @media only screen and (max-width: 1440px) {
                                height: 150px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.icon--download {
    position: absolute;
    padding: 5px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    top: 15px;
    z-index: 2;
    right: 15px;
    @media only screen and (max-width: 600px) {
        top: 4px;
        right: 4px;
    }
    i {
        @media only screen and (max-width: 600px) {
            font-size: 12px;
        }
    }
}

.fit-cover {
    object-fit: cover;
}

.scroll-area {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
}

.ps__rail-y {
    background-color: #fff !important;
}

.ps__thumb-y {
    background-color: gray !important;
}

.swiper-galleryImage .swiper-container {
    height: 100%;
    padding-bottom: 15px;
    .swiper-slide {
        img {
            width: 80% !important;
            height: 100%;
            object-fit: contain;
            position: relative;
            align-self: center;
            margin: 0 10%;
            @media only screen and (max-width: 1080px) {
                object-fit: unset !important;
                padding: 15px 0;
            }
        }
    }
}

.swiper-container-horizontal>.swiper-pagination-progressbar {
    top: inherit;
    bottom: 0;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #2e3951;
}

.swiper-galleryImage {
    .swiper-button-prev {
        @media only screen and (max-width: 600px) {
            margin-left: -10px;
        }
    }
    .swiper-button-next {
        @media only screen and (max-width: 600px) {
            margin-right: -10px;
        }
    }
    .swiper-button-prev::after {
        color: #464646b2;
        font-size: 50px;
        @media only screen and (max-width: 600px) {
            font-size: 30px;
        }
    }
    .swiper-button-next::after {
        color: #464646b2;
        font-size: 50px;
        @media only screen and (max-width: 600px) {
            font-size: 30px;
        }
    }
}