@keyframes Growth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.media-content {
    .media-wrapper { 
        .image__title {
            display: flex;
            align-items: center;
            margin: 0;
            line-height: 43px;
            font-family: $MyriadPro-Bold;
            text-transform: uppercase;
            color: $big-title;
            .big-title {
                margin-bottom: 0;
                margin-left: 10px;
            }
        }
        .tab-image {
            margin-top: 25px;
            .media__tabs {
                display: flex;
                position: relative;
                .nav-tabs {
                    margin-bottom: 30px;
                    border: unset;
                    flex: 1 33.833%;
                    max-width: 33.833%;
                    a {
                        color: unset;
                        &:hover {
                            color: unset;
                        }
                    }
                    .nav-link {
                        background: #f1f1f1;
                        border: none;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        
                       
                    }
                    .nav-link.active {
                        border: 1px solid $main_color;
                    }
                }
            }
            .tab-content {
                #media-album {
                    .list-album {
                        display: flex;
                        flex-wrap: wrap;
                        .album-item {
                            width: 32.3333%;
                            margin-right: 1.5%;
                            margin-bottom: 1.5%;
                            position: relative;
                            background: #f1f1f1;
                            @media only screen and (max-width: 1080px){
                                width: 48.5%;
                                background: #fff;
                            }
                            &:hover {
                                .album-item__name {
                                    color: $main_color;
                                }
                                box-shadow: 0 7px 10px 1px #3333;
                                transition: all 0.3s;
                                cursor: pointer;
                                img {
                                    filter: drop-shadow(1px 2px 3px #3333);
                                }
                            }
                            &__name {
                                margin: 15px 15px 5px 15px;
                                font-family: $MyriadPro-Bold;
                                @include split_str(2);
                                .name {
                                    margin-bottom: 0;
                                }
                            }
                            &__date {
                                color: #bcbcbc;
                                margin-left: 15px;
                                display: block;
                                margin-bottom: 15px;
                            }
                            &__count {
                                position: absolute;
                                padding: 5px;
                                color: #fff;
                                background: rgba(0, 0, 0, 0.3);
                                top: 20px;
                                z-index: 2;
                                display: flex;
                                left: 20px;
                                align-items: center;
                                @media only screen and (max-width: 600px){
                                    top: 6px;
                                    left: 6px;
                                    padding: 2px 3px;
                                }
                                .quantity {
                                    margin-bottom: -5px;
                                    margin-left: 10px;
                                    @media only screen and (max-width: 600px){
                                        margin-bottom: -2px;
                                        font-size: 12px !important;
                                        margin-left: -2px;
                                    }
                                }
                                i {
                                    width: 18px;
                                    height: 18px;
                                    font-size: 18px;
                                    @media only screen and (max-width: 600px){
                                        font-size: 12px;
                                        margin-top: 4px;
                                    }
                                }
                            }
                            &__count.album {
                                cursor: pointer;
                            }
                            &__download {
                                position: absolute;
                                padding: 5px;
                                color: #fff;
                                background: rgba(0, 0, 0, 0.3);
                                top: 20px;
                                z-index: 2;
                                right: 20px;
                                @media only screen and (max-width: 600px){
                                    top: 4px;
                                    right: 4px;
                                }
                                i{
                                    @media only screen and (max-width: 600px){
                                        font-size: 12px;
                                        margin-top: 4px;
                                    }
                                }
                            }
                            img {
                                max-width: 100%;
                                width: 100%;
                            }
                        }
                        .album-item:last-child,
                        .album-item:nth-child(3) {
                            margin-right: 0;
                            
                           
                        }
                        .album-item:nth-child(n+1){
                            @media only screen and (max-width: 1080px){
                                margin-left: 1%;
                                margin-right: 0;
                            }
                        }
                    }
                }
                #media-single-image {
                    .list-image {
                        display: flex;
                        flex-wrap: wrap;
                        .image-item {
                            width: 32.3333%;
                            margin-right: 1.5%;
                            margin-bottom: 1.5%;
                            position: relative;
                            @media only screen and (max-width: 1080px){
                                width: 48.5%;
                                background: #fff;
                            }
                            &__back {
                                position: absolute;
                                padding: 5px;
                                color: #fff;
                                background: rgba(0, 0, 0, 0.3);
                                top: 20px;
                                z-index: 2;
                                display: flex;
                                left: 20px;
                                align-items: center;
                                cursor: pointer;
                                .text {
                                    margin-bottom: -5px;
                                    margin-left: 10px;
                                }
                                i {
                                    width: 18px;
                                    height: 18px;
                                    font-size: 18px;
                                }
                            }
                            img {
                                max-width: 100%;
                            }
                        }
                        .image-item:last-child,
                        .image-item:nth-child(3) {
                            margin-right: 0;
                        }
                        .image-item:nth-child(n+1){
                            @media only screen and (max-width: 1080px){
                                margin-left: 1%;
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
        .video__title {
            display: flex;
            align-items: center;
            margin: 0;
            line-height: 43px;
            font-family: $MyriadPro-Bold;
            text-transform: uppercase;
            color: $big-title;
            .big-title {
                margin-bottom: 0;
                margin-left: 10px;
            }
        }
        .tab-video {
            margin-top: 30px;
            .media__tabs {
                display: flex;
                justify-content: space-between;
                position: relative;
                .nav-tabs {
                    margin-bottom: 20px;
                    border: unset;
                    a {
                        color: unset;
                        &:hover {
                            color: unset;
                        }
                    }
                    .nav-link {
                        background: #f1f1f1;
                        border: none;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }
                    .nav-link.active {
                        border: 1px solid $main_color;
                    }
                }
            }
            .tab-content {
                #media-video {
                    .list-video-wrapper {
                        margin-top: 20px;
                        .list-video {
                            display: flex;
                            flex-wrap: wrap;
                            .video-item {
                                width: 32.3333%;
                                margin-right: 1.5%;
                                margin-bottom: 1.5%;
                                position: relative;
                                background: #f1f1f1;
                                @media only screen and (max-width: 1080px){
                                    width: 48.5%;
                                    background: #fff;
                                }
                                &:hover {
                                    .video-item__name {
                                        color: $main_color;
                                    }
                                    box-shadow: 0 7px 10px 1px #3333;
                                    transition: all 0.3s;
                                    cursor: pointer;
                                    img {
                                        filter: drop-shadow(1px 2px 3px #3333);
                                    }
                                }
                                .video-thumbnail {
                                    position: relative;
                                }
                                &__name {
                                    margin: 15px 15px 5px 15px;
                                    font-family: $MyriadPro-Bold;
                                    @include split_str(2);
                                    .name {
                                        margin-bottom: 0;
                                    }
                                }
                                &__date {
                                    color: #bcbcbc;
                                    margin-left: 15px;
                                    display: block;
                                    margin-bottom: 15px;
                                }
                                &__count {
                                    position: absolute;
                                    padding: 5px;
                                    color: #fff;
                                    background: rgba(0, 0, 0, 0.3);
                                    top: 20px;
                                    z-index: 2;
                                    display: flex;
                                    left: 20px;
                                    align-items: center;
                                    .quantity {
                                        margin-bottom: -5px;
                                        margin-left: 10px;
                                    }
                                    i {
                                        width: 18px;
                                        height: 18px;
                                        font-size: 18px;
                                    }
                                }
                                &__count.album {
                                    cursor: pointer;
                                }
                                img {
                                    max-width: 100%;
                                }
                            }
                            .video-item:nth-child(3),
                            .video-item:nth-child(6) {
                                margin-right: 0;
                            }
                            .video-item:nth-child(n+1){
                                @media only screen and (max-width: 1080px){
                                    margin-left: 1%;
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
                #media-single-video {
                    margin-top: 20px;
                    .media-video {
                        max-height: 32vw;
                        .mCSB_scrollTools .mCSB_draggerContainer {
                            width: 4px;
                            background: gray;
                            right: 0;
                            margin-right: 0;
                        }
                        .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
                            background: #fff;
                        }
                        .mCS-dark.mCSB_scrollTools .mCSB_dragger_bar {
                            background: #fff;
                            display: none;
                        }
                        .list-video {
                            display: flex;
                            .left {
                                flex: 0 0 68%;
                                margin-right: 2%;
                                .name {
                                    font-family: $MyriadPro-Bold;
                                    margin-top: 20px;
                                    margin-bottom: 0;
                                }
                                img {
                                    max-width: 100%;
                                }
                            }
                            .right {
                                flex: 0 0 29%;
                                .video-item {
                                    margin-bottom: 6%;
                                    .img-button {
                                        display: block;
                                        position: relative;
                                        .button-video {
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                            transition: 0.2s;
                                            font-size: 50px;
                                            color: #fff;
                                        }
                                    }
                                    .name {
                                        margin-bottom: 0;
                                        font-family: $MyriadPro-Bold;
                                        @include split_str(2);
                                    }
                                }
                                img {
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#album_modal,
#video_modal {
    padding: 3% 5% 3% 7%;
    @media screen and (max-width: 1366px) {
        padding: 40px;
    }
    background: #f1f1f1;
    width: 72%;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    height: 80vh;
    max-height: 90%;
    border-radius: 0;
    margin: auto;
    @media screen and (max-width: 1680px) {
        width: 75%;
    }
    @media screen and (max-width: 1440px) {
        width: 70%;
    }
    @media screen and (max-width: 1366px) {
        width: 60%;
    }
    .custom-fancybox-dialog {
        overflow: hidden;
        .custom-fancybox-content {
            .mCSB_scrollTools {
                width: 6px;
            }
            .mCSB_scrollTools .mCSB_draggerContainer {
                // width: 4px;
                background: gray;
                right: 0;
                margin-right: 0;
            }
            .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
                background: #fff;
            }
            .mCS-dark.mCSB_scrollTools .mCSB_dragger_bar {
                background: #fff;
                display: none;
            }
            .fancybox-header {
                padding: 0;
                margin: 0;
                border: unset;
                button {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    padding: 5px 5px 0 5px;
                    margin: 0;
                    background: #f1f1f1;
                    i {
                        color: #000;
                        font-size: 20px;
                    }
                }
            }
            .title_modal {
                margin-bottom: 3%;
                font-family: $MyriadPro-Bold;
                .name {
                    margin-bottom: 0;
                    text-align: center;
                }
            }
        }
    }
    .list-album {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3.3% 2%;
        .album-item {
            position: relative;
            &__download {
                position: absolute;
                padding: 5px;
                color: #fff;
                background: rgba(0, 0, 0, 0.3);
                top: 20px;
                z-index: 2;
                right: 20px;
            }
            img {
                max-width: 100%;
            }
        }
    }
}

#album_modal-detail,
#video_modal-detail {
    width: 60%;
    height: 80vh;
    margin-left: -17px;
    padding: 4% 0 4% 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    max-height: 90%;
    border-radius: 0;
    margin: auto;
    background: #f1f1f1;
    @media screen and (max-width: 1366px) {
        padding: 40px;
    }
    .modal-dialog {
        max-width: 100%;
    }
    .modal-content-custom {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        border-radius: .3rem;
        outline: 0;
        .swiper-button-next,
        .swiper-button-prev {
            &:focus {
                border: none;
                outline: none;
            }
        }
    }
    .title_modal {
        margin-bottom: 3%;
        font-family: $MyriadPro-Bold;
        .name {
            margin-bottom: 0;
            text-align: center;
        }
    }
    .swiper-container {
        // max-height: 30vw;
        .swiper-slide {
            text-align: center;
            .img-wrapper {
                position: relative;
                margin: 0 auto;
                .album-item__download {
                    position: absolute;
                    padding: 5px;
                    color: #fff;
                    background: rgba(0, 0, 0, 0.3);
                    top: 20px;
                    z-index: 2;
                    right: 10%;
                    @media screen and (max-width: 1680px) {
                        right: 8%;
                    }
                    @media screen and (max-width: 1440px) {
                        right: 13%;
                    }
                    @media screen and (max-width: 1366px) {
                        right: 22%;
                    }
                }
            }
            img {
                width: 83.4%;
                height: auto;
                object-fit: contain;
                object-position: center;
                @media screen and (max-width: 1680px) {
                    width: 80%;
                }
                @media screen and (max-width: 1440px) {
                    width: 75%;
                }
                @media screen and (max-width: 1366px) {
                    width: 70%;
                }
            }
            p {
                padding: 10px 0;
            }
        }
        .swiper-button-prev {
            color: gray !important;
            left: 3%;
        }
        .swiper-button-next {
            color: gray !important;
            right: 3%;
        }
        .swiper-button-prev::after {
            left: -50px;
            color: gray !important;
        }
        .swiper-button-next::after {
            right: -50px;
            color: gray !important;
        }
    }
}

#video_modal-detail {
    .video-wrapper {
        position: relative;
        .video-download {
            position: absolute;
            padding: 5px;
            color: #fff;
            background: rgba(0, 0, 0, .3);
            top: 20px;
            z-index: 2;
            right: 20px;
        }
    }
}

// #video_modal .modal-dialog {
//   max-width: 100%;
//   margin: 0;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   .modal-content {
//     padding: 3% 4.5% 3% 7%;
//     @media screen and (max-width: 1366px) {
//       padding: 40px;
//     }
//     background: #f1f1f1;
//     width: 72%;
//     position: relative;
//     overflow: hidden;
//     display: flex;
//     justify-content: center;
//     height: auto;
//     max-height: 90%;
//     border-radius: 0;
//     margin: auto;
//     @media screen and (max-width: 1680px) {
//       width: 75%;
//     }
//     @media screen and (max-width: 1440px) {
//       width: 70%;
//     }
//     @media screen and (max-width: 1366px) {
//       width: 60%;
//     }
//     .mCSB_scrollTools {
//       width: 6px;
//     }
//     .mCSB_scrollTools .mCSB_draggerContainer {
//       // width: 4px;
//       background: gray;
//       right: 0;
//       margin-right: 0;
//     }
//     .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
//       background: #fff;
//     }
//     .mCS-dark.mCSB_scrollTools .mCSB_dragger_bar {
//       background: #fff;
//       display: none;
//     }
//     .modal-header {
//       padding: 0;
//       margin: 0;
//       border: unset;
//       button {
//         position: absolute;
//         top: 5px;
//         right: 10px;
//         padding: 5px 5px 0 5px;
//         margin: 0;
//         background: #f1f1f1;
//         i {
//           color: #000;
//           font-size: 20px;
//         }
//       }
//     }
//     .title_modal {
//       margin-bottom: 3%;
//       font-family: $MyriadPro-Bold;
//       text-align: center;
//       width: 100%;
//       .name {
//         margin-bottom: 0;
//       }
//     }
//     .modal-body {
//       overflow-y: hidden;
//       overflow-x: hidden;
//       // max-height: 30vw;
//     }
//   }
//   .list-video {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: 3.3% 2%;
//     .video-item {
//       position: relative;
//       &__download {
//         position: absolute;
//         padding: 5px;
//         color: #fff;
//         background: rgba(0, 0, 0, 0.3);
//         top: 20px;
//         z-index: 2;
//         right: 20px;
//       }
//       img {
//         max-width: 100%;
//       }
//     }
//   }
// }
// #video_modal-detail .modal-dialog {
//   max-width: 100%;
//   margin: 0;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   .modal-content {
//     padding: 4.2% 6% 4.2% 6%;
//     width: 72%;
//     @media screen and (max-width: 1366px) {
//       padding: 50px;
//     }
//     @media screen and (max-width: 1680px) {
//       width: 75%;
//     }
//     @media screen and (max-width: 1440px) {
//       width: 70%;
//     }
//     @media screen and (max-width: 1366px) {
//       width: 60%;
//     }
//     position: relative;
//     overflow: hidden;
//     display: flex;
//     justify-content: center;
//     height: auto;
//     max-height: 90%;
//     border-radius: 0;
//     margin: auto;
//     background: #f1f1f1;
//     .modal-header {
//       padding: 0;
//       margin: 0;
//       border: unset;
//       button {
//         position: absolute;
//         top: 5px;
//         right: 10px;
//         padding: 5px 5px 0 5px;
//         margin: 0;
//         background: #f1f1f1;
//         i {
//           color: #000;
//           font-size: 20px;
//         }
//       }
//     }
//     .title_modal {
//       margin-bottom: 3%;
//       font-family: $MyriadPro-Bold;
//       text-align: center;
//       @include split_str(2);
//       .name {
//         margin-bottom: 0;
//       }
//     }
//     .video-wrapper {
//       position: relative;
//       .video-download {
//         position: absolute;
//         padding: 5px;
//         color: #fff;
//         background: rgba(0, 0, 0, 0.3);
//         top: 20px;
//         z-index: 2;
//         right: 20px;
//       }
//     }
//   }
// }
.select2-container {
    .select2-dropdown.select2-dropdown--below {
        .select2-search.select2-search--dropdown {
            .select2-search__field {
                height: 40px;
                &:focus {
                    outline: unset;
                    box-shadow: unset;
                }
            }
        }
    }
    .select2-results__option--highlighted.select2-results__option--selectable {
        background: $main_color;
    }
    .select2-results__option--selected {
        background: #f1f1f1;
    }
    .select2-results__option--selectable {
        height: 40px;
        background: #e9e9e9;
        font-size: 16px;
        font-family: $MyriadPro-Regular;
        display: flex;
        align-items: center;
        padding: 0 15px;
        line-height: 1.2;
    }
}

// media modal 
.vm--modal {
    height: 80vh !important;
    width: 60% !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    
    @media only screen and (max-width: 1080px){ height: 45vh !important; width: 80% !important;}
    @media only screen and (max-width: 768px){ height: 35vh !important; padding: 15px 0 0 0;}
   
    
    .modal-main {
        padding: 4%;
        height: 100%;
        .modal-header-custom {
            height: 5vw;
            p {
                position: absolute;
                top: 10px;
                right: 20px;
            }
            .name {
                font-family: $MyriadPro-Bold;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }
            .text-right{
                button{
                    @media only screen and (max-width: 600px){
                       margin-right: -10px;
                       margin-top: -20px;
                       padding: 1px 3px !important;
                        font-size: 15px;
                    }
                }
            }
        }
        .modal-body-custom {
            iframe {
                height: 100%;
            }
            height: 90%;
            .list-item {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 30px;
                @media screen and (max-width: 1680px) {
                    gap: 20px
                }
                @media screen and (max-width: 1440px) {
                    gap: 15px
                }
               
                padding-right: 30px;
                .item {
                    position: relative;
                    .box-img {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.icon--download {
    position: absolute;
    padding: 5px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    top: 15px;
    z-index: 2;
    right: 15px;
    @media only screen and (max-width: 600px){
        top: 4px;
        right: 4px;
    }
    i{
        @media only screen and (max-width: 600px){
           font-size: 12px;
        }
    }
}

.fit-cover {
    object-fit: cover;
}

.scroll-area {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
}

.ps__rail-y {
    background-color: #fff !important;
}

.ps__thumb-y {
    background-color: gray !important;
}

.swiper-galleryImage .swiper-container {
    height: 100%;
    padding-bottom: 15px;
    .swiper-slide{
        img{
            width: 80% !important;
            height: 100%;
            object-fit: contain;
            position: relative;
            align-self: center;
            margin: 0 10%;
            
            @media only screen and (max-width: 1080px){
                object-fit: unset !important;
                padding: 15px 0;
            }
        }
    }
}

.swiper-container-horizontal>.swiper-pagination-progressbar {
    top: inherit;
    bottom: 0;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #2e3951;
}

.swiper-galleryImage {
    .swiper-button-prev{
        @media only screen and (max-width: 600px){ 
            margin-left: -10px;
        }
    }
    .swiper-button-next{
        @media only screen and (max-width: 600px){ 
            margin-right: -10px;
        }
    }
    .swiper-button-prev::after {
        color: #464646b2;
        font-size: 50px;
        @media only screen and (max-width: 600px){  font-size: 30px;}
    }
    .swiper-button-next::after {
        color: #464646b2;
        font-size: 50px;
        @media only screen and (max-width: 600px){  font-size: 30px;}
    }
}



