.financial-report {
    display: flex;
    &_left {
        max-width: 68.2%;
        margin-right: 2.7%;
        .list-report {
            display: flex;
            flex-wrap: wrap;
            .report-item {
                flex: 1 32%;
                max-width: 32%;
                margin-right: 2%;
                background: #f1f1f1;
                padding: 20px 10px;
                margin-bottom: 1.5%;
                &:hover {
                    .name-file {
                        color: $main_color;
                    }
                }
                .thumb-img {
                    max-width: 100%;
                    margin-bottom: 15px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        transition: transform .3s, visibility .3s ease-in;
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
                .date {
                    display: block;
                    padding-top: 8px;
                    border-top: 1px solid #707070;
                    font-style: italic;
                    color: #565656;
                }
                .name-file {
                    font-family: $MyriadPro-Bold;
                    margin: 5px 0 10px 0;
                    text-transform: uppercase;
                    line-height: 21px;
                    height: 42px;
                    @media screen and (max-width: 1680px) {
                        height: 38px;
                        line-height: 19px;
                    }
                }
                .download a {
                    background: $main_color;
                    color: #fff;
                    padding: 5px 10px 5px;
                    font-size: 15px;
                    border-radius: 3px;
                    font-family: $MyriadPro-Bold;
                    display: block;
                    width: max-content;
                }
            }
            .report-item:nth-child(3),
            .report-item:nth-child(6) {
                margin-right: 0;
            }
        }
    }
}