html,
body {
    margin: 0;
    padding: 0;
    // overflow-x: hidden;
    font-family: $MyriadPro-Regular;
    font-size: 16px;
    @media (max-width: 991px) {
        font-size: 15px;
    }
}

.container-customize {
    padding-left: 11.6%;
    padding-right: 11.6%;
    @media (max-width: 1680px) {
        padding-left: 8%;
        padding-right: 8%;
    }
    @media (max-width: 992px) {
        padding-left: 6%;
        padding-right: 6%;
    }
    @media (max-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.mCSB_scrollTools {
    right: 0;
}

.img-mw-100 {
    // max-width: 100%;
    width: 100%;
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-60 {
    margin-top: 60px;
}

.pt-40 {
    padding-top: 40px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-15 {
    margin-top: 15px;
}

.pt-80 {
    padding-top: 80px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}

.pt-60 {
    padding-top: 60px;
}

.p-lr-90 {
    padding: 0 90px;
}

.font-myria-bold {
    font-family: $MyriadPro-Bold;
}

.text-white {
    color: #fff;
}

// .page-content {
//     padding-top: 104px;
//     @media screen and (max-width: 1680px) {
//         padding-top: 86px;
//     }
// }
.h-45vw {
    height: 45vw !important;
    object-fit: cover !important;
    ;
}

.h-100vh {
    height: 100vh!important;
    object-fit: cover!important;
}

.font60 {
    font-size: 60px;
}

.font50 {
    font-size: 50px;
}

.font40 {
    font-size: 40px;
}

.font30 {
    font-size: 30px;
}

.font28 {
    font-size: 28px;
}

.font25 {
    font-size: 25px;
}

.font24 {
    font-size: 24px;
}

.font24 {
    font-size: 17px;
}

.font20 {
    font-size: 20px;
}

.font18 {
    font-size: 18px;
}

//responsive
@media screen and (max-width: 1680px) {
    .mt-100 {
        margin-top: 80px;
    }
    .mb-100 {
        margin-bottom: 80px;
    }
    .p-lr-90 {
        padding: 0 40px;
    }
    .mt-80 {
        margin-top: 60px;
    }
    .pt-80 {
        padding-top: 60px;
    }
    .pt-60 {
        padding-top: 40px;
    }
    .mt-60 {
        margin-top: 40px;
    }
    .mb-60 {
        margin-bottom: 40px;
    }
    .font60 {
        font-size: 50px;
    }
    .font50 {
        font-size: 40px;
    }
    .font40 {
        font-size: 32px;
    }
    .font30 {
        font-size: 25px;
    }
    .font28 {
        font-size: 25px;
    }
    .font25 {
        font-size: 22px;
    }
    .font24 {
        font-size: 21px;
    }
    .font20 {
        font-size: 18px;
    }
    .font18 {
        font-size: 16px;
    }
}

@media screen and (max-width: 1440px) {
    .mt-100 {
        margin-top: 70px;
    }
    .mb-100 {
        margin-bottom: 70px;
    }
    .font28 {
        font-size: 22px;
    }
    .font25 {
        font-size: 20px;
    }
    .font24 {
        font-size: 18px;
    }
}

@media screen and (max-width: 991px) {
    .mt-100 {
        margin-top: 50px;
    }
    .mb-100 {
        margin-bottom: 50px;
    }
    .p-lr-90 {
        padding: 0 20px;
    }
    .mt-80 {
        margin-top: 50px;
    }
    .pt-80 {
        padding-top: 50px;
    }
    .mb-60 {
        margin-bottom: 40px;
    }
    .mt-40 {
        margin-top: 30px;
    }
    .font50 {
        font-size: 30px;
    }
    .font40 {
        font-size: 24px;
    }
    .font30 {
        font-size: 20px;
    }
    .font25 {
        font-size: 18px;
    }
    .font24 {
        font-size: 17px;
    }
    .font20 {
        font-size: 16px;
    }
    .font18 {
        font-size: 15px;
    }
}

@media screen and (max-width:991px) and (min-width:767px) {
    .p-lr-90 {
        padding: 0 10px;
    }
}

@media screen and (max-width: 768px) {
    .font28 {
        font-size: 19px;
    }
}

@media screen and (max-width:576px) {
    .p-lr-90 {
        padding: 0 10%;
    }
}