html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: $MyriadPro-Regular;
    font-size: 16px;
}

.container-customize {
    padding-left: 12%;
    padding-right: 12%;
    @media (max-width: 1680px) {
        padding-left: 8%;
        padding-right: 8%;
    }
    @media (max-width: 992px) {
        padding-left: 6%;
        padding-right: 6%;
    }
    @media (max-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.img-mw-100 {
    max-width: 100%;
    width: 100%;
}

.mt-80 {
    margin-top: 80px;
    @media screen and (max-width: 1680px) {
        margin-top: 60px;
    }
}

.mt-40 {
    margin-top: 40px;
}

.pt-40 {
    padding-top: 40px;
}

.mt-25 {
    margin-top: 25px;
}

.pt-80 {
    padding-top: 80px;
    @media screen and (max-width: 1680px) {
        padding-top: 60px;
    }
}

.p-lr-90 {
    padding: 0 90px;
    @media screen and (max-width: 1680px) {
        padding: 0 90px;
    }
}

.font-myria-bold {
    font-family: $MyriadPro-Bold;
}

.text-white {
    color: #fff;
}

.page-content {
    padding-top: 104px;
    @media screen and (max-width: 1680px) {
        padding-top: 86px;
    }
}

.h-45vw {
    height: 45vw !important;
    object-fit: cover !important;
}

.font40 {
    font-size: 40px;
    @media screen and (max-width: 1680px) {
        font-size: 32px;
    }
}

.font50 {
    font-size: 50px;
    @media screen and (max-width: 1680px) {
        font-size: 40px;
    }
}

.font30 {
    font-size: 30px;
    @media screen and (max-width: 1680px) {
        font-size: 25px;
    }
}

.font28 {
    font-size: 28px;
    @media screen and (max-width: 1680px) {
        font-size: 25px;
    }
    @media screen and (max-width: 1440px) {
        font-size: 22px;
    }
}

.font24 {
    font-size: 24px;
    @media screen and (max-width: 1680px) {
        font-size: 21px;
    }
    @media screen and (max-width: 1440px) {
        font-size: 18px;
    }
}

.font20 {
    font-size: 20px;
    @media screen and (max-width: 1680px) {
        font-size: 18px;
    }
}

.font18 {
    font-size: 18px;
    @media screen and (max-width: 1680px) {
        font-size: 16px;
    }
}