//color
$main_color: #0F4685;
$white: white;
$blue: #07305F;
$blue_button:#1E5695;
$bg-gray:#F6F6F7;
$big-title:#00529E;
$bg-post:#F1F1F1;
$gray_text:#262626;
$gray_text_up:#212121;
//fonts
$MyriadPro-Bold :"MyriadPro-Bold";
$MyriadPro-Regular:"MyriadPro-Regular";