.search-page {
    // padding-bottom: 30px;
    .search-wrapper {
        max-width: 1190px;
        width: 90%;
        @media screen and(max-width: 1260px) {
            width: unset;
        }
        .search-input {
            margin-left: 26.5%;
            .search {
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: .5px solid #A9A9A9;
                outline: none;
                display: flex;
            }
            .form-control {
                border: none;
                background: unset;
                outline: none;
                border-radius: unset;
                padding-left: 0;
            }
            .search-bar {
                p {
                    font-style: italic;
                }
                input {
                    &:focus {
                        outline: none;
                        box-shadow: unset;
                    }
                }
                button {
                    background-color: #0054a0;
                    margin-bottom: 5px;
                    &:focus {
                        box-shadow: unset;
                    }
                }
                .btn {
                    width: 30px;
                    height: 30px;
                    border-radius: unset;
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i {
                        color: #fff;
                    }
                }
            }
        }
        .search-range {
            .form-search {
                display: flex;
                .filter-list {
                    background-color: #f1f1f1;
                    display: flex;
                    width: 66%;
                    margin-right: 1%;
                    padding: 15px;
                    .search-cate {
                        padding: 0;
                        background-color: #f1f1f1;
                        display: flex;
                        justify-content: space-between;
                        .pretty {
                            line-height: 1.1;
                        }
                    }
                }
                .select-time-wrapper {
                    // width: 13%;
                    display: flex;
                    position: relative;
                    margin-right: 1%;
                }
                i {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    font-size: 18px;
                    left: 10px;
                }
                .select-time {
                    margin-right: 1%;
                    outline: 0;
                    box-shadow: none;
                    padding: 3px 25px;
                    cursor: pointer;
                    background-color: #f1f1f1;
                    border: unset;
                    color: #4d4d4d;
                    @media screen and(max-width: 1130px) {
                        max-width: 140px;
                    }
                }
                .search-month-year {
                    position: relative;
                    display: flex;
                    width: 18.5%;
                    min-width: 200px;
                    &::after {
                        content: "";
                        width: 1px;
                        height: 80%;
                        top: 10%;
                        position: absolute;
                        background-color: #BABABA;
                        left: 50%;
                    }
                    .search-month {
                        width: 49%;
                        outline: 0;
                        box-shadow: none;
                        padding: 3px 8px;
                        cursor: pointer;
                        background-color: #f1f1f1;
                        border: unset;
                        color: #4d4d4d;
                    }
                    .search-year {
                        width: 49%;
                        outline: 0;
                        box-shadow: none;
                        padding: 3px 8px;
                        cursor: pointer;
                        background-color: #f1f1f1;
                        border: unset;
                        color: #4d4d4d;
                    }
                }
            }
        }
    }
    .search-result {
        .result-content {
            top: 0;
            .content {
                display: flex;
                flex-wrap: wrap;
                a {
                    color: unset;
                    &:hover {
                        color: $main_color;
                    }
                }
                h3 {
                    text-transform: uppercase;
                }
                .date {
                    // position: absolute;
                    // bottom: 0;
                    width: 100%;
                    opacity: 75%;
                    align-self: flex-end;
                }
                p {}
            }
            @media (max-width: 767px) {
                .content {
                    background-color: #f1f1f1;
                    padding: 15px;
                }
            }
        }
    }
    .container {
        margin-top: 10px;
        .pagination {
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
            list-style: none;
            border-radius: unset;
            .page-link {
                color: black;
                a {
                    background: unset;
                }
            }
            .page-item {
                text-align: center;
                width: 40px;
                border-radius: unset;
                margin: 0 .15rem;
                margin-bottom: .15rem;
            }
            .page-item.active .page-link,
            a {
                color: #fff;
                background: #0054a0;
                border-color: #A9A9A9;
                &:hover {
                    background: #0054a0;
                    color: #fff;
                }
            }
        }
    }
    .pagination-success .page-item .page-link,
    a {
        background: unset;
    }
}

.object-fit-cover {
    object-fit: cover;
    @media screen and(max-width: 768px) {
        max-height: 15rem;
    }
    @media screen and(max-width: 480px) {
        max-height: 12rem;
    }
}

@media screen and(max-width:1080px) {
    .search-page {
        // margin-top: -96px;
        .search-intro {
            h1 {
                text-align: unset!important;
                font-size: 40px;
            }
        }
        .search-wrapper {
            .search-input {
                margin-left: unset;
                .search-bar {
                    display: flex;
                    .search {
                        max-width: 80%;
                        flex: 1 80%;
                    }
                    .search-month-year-mb {
                        display: block!important;
                        position: relative;
                        display: flex;
                        flex: 1 20%;
                        max-width: 20%;
                        min-width: 200px;
                        margin-left: 10px;
                        background-color: #f1f1f1;
                        &::after {
                            content: "";
                            width: 1px;
                            height: 80%;
                            top: 10%;
                            position: absolute;
                            background-color: #BABABA;
                            left: 50%;
                        }
                        .search-month {
                            width: 49%;
                            outline: 0;
                            box-shadow: none;
                            padding: 11.5px 8px;
                            cursor: pointer;
                            background-color: #f1f1f1;
                            border: unset;
                            color: #4d4d4d;
                        }
                        .search-year {
                            width: 49%;
                            outline: 0;
                            box-shadow: none;
                            padding: 11.5px 8px;
                            cursor: pointer;
                            background-color: #f1f1f1;
                            border: unset;
                            color: #4d4d4d;
                        }
                    }
                }
            }
            .search-range {
                .form-search {
                    .filter-list {
                        width: 100%;
                        margin-right: 0;
                    }
                    .select-time-wrapper {
                        display: none;
                    }
                    .search-month-year {
                        display: none;
                    }
                }
            }
        }
        .search-result {
            .result-content {
                .content {
                    h3 {
                        font-size: 20px;
                    }
                    .desc {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and(max-width:480px) {
    .search-page {
        .search-intro {
            h1 {
                font-size: 30px;
            }
        }
        .search-wrapper {
            .search-input {
                .search-bar {
                    display: unset;
                    .search-month-year-mb {
                        margin: 10px 0;
                        .search-month {
                            padding: 11px 8px;
                        }
                    }
                }
            }
            .search-range {
                .form-search {
                    .filter-list {
                        padding: 10px 10px 0 10px;
                        .search-cate {
                            display: unset;
                            .pretty {
                                margin-left: 0;
                                margin-right: 0;
                                margin-bottom: 10px;
                                width: 49%;
                            }
                        }
                    }
                }
            }
        }
        .search-result {
            .result-content {
                .content {
                    h3 {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media screen and(max-width:380px) {
    .search-page {
        .search-result {
            .result-content {
                .content {
                    h3 {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}