.field-of-activity {
    .item-slider-top {
        position: relative;
        .post-banner {
            position: absolute;
            top: calc(20% + 98px);
            left: 68%;
            max-width: 420px;
            height: 420px;
            background-color: #8d8c8cb8;
            padding: 40px;
            color: #fff;
            @media screen and (max-width: 1680px) {
                left: 65%;
                height: 380px;
            }
            @media screen and (max-width: 1440px) {
                left: 63%;
                height: 350px;
            } 
            @media screen and (max-width: 1370px) {
                left: 57%;
                max-width: 430px;
            }
            @media screen and (max-width: 1220px) {
                left: 52%;
            }
            h2 {
                // font-size: 25px;
                font-family: $MyriadPro-Bold;
                text-transform: uppercase;
                line-height: 22px;
                padding-top: 20px;
                position: relative;
                @include split_str(4);
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: #fff;
                    width: 50%;
                    height: 4px;
                }
            }
            p {
                font-family: $MyriadPro-Regular;
                // font-size: 16px;
                @include split_str(5);
                padding-top: 10px;
            }
            a.link {
                padding: 7px 21px;
                color: $white;
                // border: 1px solid #fff;
                text-decoration: none;
                position: absolute;
                bottom: 5%;
                right: 7%;
                font-family: $MyriadPro-Bold;
                text-transform: uppercase;
                span {
                    margin-left: 10px;
                }
            }
        }
    }
    .commercial-field {
        display: flex;
        &__left {
            flex: 50%;
            width: 40vw;
            .left-top {
                // display: flex;
                // img{
                //     width: 30px;
                //     height: 40px;
                //     align-self: center;
                // }
                h3 {
                    padding: 0 12%;
                    color: #949090;
                    font-family: $MyriadPro-Bold;
                    .text {
                        //   font-size: 50px;
                        text-align: justify;
                    }
                }
            }
            .line {
                margin: 0 12%;
                height: 5px;
                width: 150px;
                background-color: #949090;
            }
            .content {
                padding: 0 12%;
                text-align: justify;
                line-height: 22px;
                font-size: 18px;
                @media only screen and (max-width: 1680px) {
                    font-size: 15px;
                }
                @media only screen and (max-width: 1100px) {
                    font-size: 12px;
                }
            }
        }
        &__right {
            flex: 50%;
            padding: 2% 5%;
            .commercial-field-slider {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                .swiper-slide {
                    width: 100% !important;
                    height: 20vw;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .commercial-field-slider.swiper-container-horizontal .swiper-pagination-bullet {
                background: #fff!important;
                border: 1px solid #000 !important;
                opacity: 1 !important;
                width: 8px;
                height: 8px;
            }
            .commercial-field-slider.swiper-container-horizontal .swiper-pagination-bullet-active {
                background: #000!important;
                border: 1px solid #000 !important;
                opacity: 1 !important;
            }
            //  .commercial-field-slider.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
            //     border: 1px solid black !important;
            //  }
        }
    } 
    .future-goal-banner-activity {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 34.2%;
       
        .future-goal-wrapper {
            position: absolute;
            color: $white;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            z-index: 1;
            background: rgba(0, 0, 0, 0.397);
            .future-goal {
                img {
                    height: 95px;
                    width: 95px;
                    @media only screen and (max-width: 1320px) {
                        height: 75px;
                        width: 75px;
                    }
                    @media only screen and (max-width: 1100px) {
                        height: 65px;
                        width: 65px;
                    }
                }
                .title {
                    font-family: $MyriadPro-Bold;
                    margin-bottom: 40px;
                    margin-top: 30px;
                    text-transform: uppercase;
                    @media only screen and (max-width: 1100px) {
                        margin-bottom: 20px;
                        margin-top: 15px;
                    }
                }
                .desc {
                    font-family: $MyriadPro-Bold;
                    line-height: 22px;
                    height: 10vw;
                    @media only screen and (max-width: 1320px) {
                        font-size: 12px !important;
                    }
                }
                border-right: 1px solid $white;
                height: 100%;
            }
            .future-goal.last {
                border: unset;
            }
        }
    }
    .activity-content-detail-slide {
        &__detail-content {
            // flex: 75%;
            .swiper-container {
                display: flex;
                &:nth-child(even) {
                    flex-direction: row-reverse;
                    .swiper-pagination {
                        display: none
                    }
                    .swiper-button-prev:after,
                    .swiper-button-next:after {
                        display: none;
                    }
                }
                .main-content-left {
                    height: 20.5vw;
                    width: 25.5vw;
                    z-index: 2!important;
                    position: absolute;
                    background-color: $bg-post;
                    .content {
                        padding: 50px 10%;
                       
                        .symbol,
                        .title,
                        .text {
                            display: table;
                            margin: 0 auto;
                        }
                        .title {
                            font-family: $MyriadPro-Bold;
                            text-align: center;
                            line-height: 1.1;
                            @media only screen and (max-width: 1380px) {
                                font-size: 25px;
                            }
                        }
                        .text {
                            
                            text-align: justify;
                            line-height: 22px;
                            height: 60%;
                            @media only screen and (max-width: 1365px) {
                                font-size: 14px;
                               
                            }
                        }
                        .control {
                            position: absolute;
                            bottom: 11%;
                            left: 31.5%;
                            text-align: center;
                            
                            @media only screen and (max-width: 1500px) {
                                left: 29%;
                            }
                            @media only screen and (max-width: 1200px) {
                                left: 27%;
                            }
                            @media only screen and (max-width: 1100px) {
                                left: 23%;
                            }
                            .swiper-button-prev {
                                position: absolute;
                                left: -20%;
                                z-index: 99;
                                top: 85%;
                                // @media only screen and (max-width: 1680px) {
                                //     top: 50%;
                                // }
                                // @media only screen and (max-width: 1100px) {
                                //     left: 20%;
                                // }
                                &:hover {
                                    transition: .5s ease-in-out;
                                    transform: translateX(-20%);
                                }
                            }
                            .swiper-button-next {
                                position: absolute;
                                right: -20%;
                                z-index: 99;
                                top: 85%;
                                // @media only screen and (max-width: 1680px) {
                                //     top: 50%;
                                // }
                                // @media only screen and (max-width: 1320px) {
                                //     left: 27.2%;
                                // }
                                &:hover {
                                    transition: .5s ease-in-out;
                                    transform: translateX(20%);
                                }
                            }
                            .swiper-button-prev::after {
                                content: "\f177";
                                font-weight: lighter;
                                font-family: "Font Awesome 5 Pro";
                            }
                            .swiper-button-next::after {
                                content: "\f178";
                                font-weight: lighter;
                                font-family: "Font Awesome 5 Pro";
                            }
                            .swiper-button-prev:after,
                            .swiper-button-next:after {
                                color: #999999 !important;
                                font-size: 30px;
                                @media only screen and (max-width: 1680px) {
                                    font-size: 25px;
                                }
                            }
                            .mouse::after {
                                content: "\f8cd";
                                font-weight: lighter;
                                font-family: "Font Awesome 5 Pro";
                            }
                            .mouse {
                                font-size: 30px;
                                color: #999999;
                                @media only screen and (max-width: 1300px){
                                    font-size: 25px;
                                }
                            }
                            .text-pagi {
                                margin: 0;
                                color: #999999;
                                font-weight: bold;
                                line-height: 100%;
                            }
                        }
                        .symbol-thiso {
                            width: 2.5vw;
                            display: table;
                            margin: 0 auto;
                            margin-top: 2%;
                        }
                        .symbol {
                            width: 4vw;
                        }
                    }
                }
                .main-content-right {
                    width: 75vw;
                }
            }
            .swiper-content-detail {
                overflow: hidden;
                height: 20.5vw;
                // width: 100vw;
                // @media only screen and (max-width: 1680px) {
                //     height: 23.5vw;
                // }
                // @media only screen and (max-width: 1229px) {
                //     height: 24vw;
                // }
                .swiper-slide {
                    width: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    z-index: 2;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .title {
                        position: absolute;
                        z-index: 2;
                        font-weight: bolder;
                        font-family: $MyriadPro-Bold;
                        text-align: center;
                        line-height: 1.1;
                        padding: 5%;
                        @media screen and (max-width: 1380px) {
                            font-size: 25px;
                            
                        }
                    }
                    .bg {
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0.322);
                        height: 100%;
                        position: absolute;
                        z-index: 2;
                    }
                    .detail {
                        animation: mymovetop .5s ease-in;
                        transition: transform .5s, visibility .5s ease-in;
                        display: none;
                        position: absolute;
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        padding: 50px 10%;
                        user-select: all;
                        .text {
                            text-align: justify;
                            line-height: 22px;
                            overflow-y: hidden;
                            overflow-x: hidden;
                            height: 60%;
                            @media only screen and (max-width: 1365px) {
                                font-size: 14px;
                            }
                        }
                        .titlee {
                            text-align: center;
                            font-weight: bolder;
                            font-family: $MyriadPro-Bold;
                            @media screen and (max-width: 1380px) {
                                font-size: 25px;
                            }
                        }
                        .readmore {
                            position: absolute;
                            right: 20%;
                            bottom: 12%;
                            font-weight: bold;
                            font-family: $MyriadPro-Bold;
                            span {
                                margin-left: 10px;
                            }
                        }
                    }
                    &:hover .title {
                        display: none;
                    }
                    &:hover .detail {
                        display: block;
                    }
                    &:hover .bg {
                        background-color: #999999;
                    }
                }
                .swiper-pagination {
                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    justify-self: center;
                    top: 40%;
                    left: 23%;
                    transform: translateX(-10%);
                    z-index: 10;
                    width: 5vw;
                    border-radius: 50%;
                    height: 5vw;
                    padding-top: 38px;
                    text-align: center;
                    align-self: center;
                    letter-spacing: .1em;
                    background: rgba(0, 0, 0, 0.76);
                    color: white;
                    font-weight: bold;
                    font-family: $MyriadPro-Bold;
                    font-size: 12px;
                    @media only screen and (max-width: 1707px) {
                        padding-top: 30px;
                    }
                    @media only screen and (max-width: 1440px) {
                        padding-top: 26px;
                    }
                    @media only screen and (max-width: 1320px) {
                        padding-top: 20px;
                    }
                    @media only screen and (max-width: 1100px) {
                        padding-top: 15px;
                    }
                }
                // .swiper-container {}
                // *+.swiper-container {
                //     border-top: 1px solid rgba(red, .4);
                // }
                
            }
        }
    }
    .activity-detail-wrapper {
        .activity-detail {
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
            display: flex;
            &__right {
                flex: 25%;
                background-color: $bg-post;
                height: 20.5vw;
                // @media only screen and (max-width: 1680px) {
                //     height: 23.5vw;
                // }
                // @media only screen and (max-width: 1229px) {
                //     height: 24vw;
                // }
                .content {
                    display: table;
                    justify-content: center;
                    padding: 50px 10%;
                    
                    .symbol,
                    .title,
                    .text {
                        display: table;
                        margin: 0 auto;
                    }
                    .title {
                        font-family: $MyriadPro-Bold;
                        text-align: center;
                        line-height: 1.1;
                        @media only screen and (max-width: 1380px) {
                            font-size: 25px;
                        }
                    }
                    .text {
                        text-align: justify;
                        line-height: 22px;
                        height: 40%;
                        @media only screen and (max-width: 1380px) {
                            font-size: 14px;
                        }
                        // @media only screen and (max-width: 1100px){font-size: 12px;}
                    }
                    .symbol-thiso {
                        width: 2.5vw;
                        display: table;
                        margin: 0 auto;
                        margin-top: 2%;
                    }
                    .symbol {
                        width: 4vw;
                    }
                }
            }
            &__left {
                flex: 75%;
                .item {
                    margin-left: 0;
                    margin-right: 0;
                    .content {
                        padding-left: 0;
                        padding-right: 0;
                        width: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 20.5vw;
                       
                        // @media only screen and (max-width: 1680px) {
                        //     height: 23.5vw;
                        // }
                        // @media only screen and (max-width: 1229px) {
                        //     height: 24vw;
                        // }
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        .bg {
                            width: 100%;
                            background-color: rgba(0, 0, 0, 0.322);
                            height: 100%;
                            position: absolute;
                            z-index: 2;
                        }
                        .title {
                            position: absolute;
                            z-index: 2;
                            font-weight: bolder;
                            font-family: $MyriadPro-Bold;
                            line-height: 1.1;
                            text-align: center;
                            padding: 0 5%;
                            @media only screen and (max-width: 1380px) {
                                font-size: 25px;
                            }
                        }
                        .detail {
                            animation: mymovetop .5s ease-in;
                            transition: transform .5s, visibility .5s ease-in;
                            display: none;
                            position: absolute;
                            z-index: 3;
                            width: 100%;
                            height: 100%;
                            padding: 40px 10%;
                           
                            // @media only screen and (max-width: 1680px) {
                            //     padding: 40px 18%;
                            // }
                            // padding: 20% 10% 0;
                            // @media only screen and (max-width: 1365px) {
                            //     padding: 40px 10% 0;
                            // }
                            .text {
                                text-align: justify;
                                line-height: 22px;
                                height: 40%;
                               
                                @media only screen and (max-width: 1330px) {
                                    font-size: 14px;
                                }
                                // @media only screen and (max-width: 1100px){font-size: 12px;}
                            }
                            .titlee {
                                text-align: center;
                                padding-bottom: 3%;
                                padding-top: 5%;
                                font-weight: bolder;
                                font-family: $MyriadPro-Bold;
                                line-height: 1.1;
                                @media only screen and (max-width: 1380px) {
                                    font-size: 25px;
                                }
                            }
                            .readmore {
                                position: absolute;
                                right: 20%;
                                bottom: 12%;
                                margin-top: 15px;
                                font-weight: bold;
                                font-family: $MyriadPro-Bold;
                                span {
                                    margin-left: 10px;
                                }
                            }
                        }
                        &:hover .title {
                            display: none;
                        }
                        &:hover .detail {
                            display: block;
                        }
                        &:hover .bg {
                            background-color: #999999;
                        }
                    }
                }
            }
        }
    }
    .activity-news {
        &__top {
            display: flex;
            .title {
                // display: flex;
                // img {
                //     width: 30px;
                //     height: 40px;
                //     align-self: center;
                // }
                h2 {
                    align-self: center;
                    margin: 7px 0 7px 5px;
                    font-weight: bolder;
                    color: #949090;
                    font-family: $MyriadPro-Bold;
                    // border-bottom: 5px solid #949090;
                }
                .line {
                    margin: -5px 0 0px 5px;
                    height: 5px;
                    width: 100px;
                    background-color: #949090;
                }
            }
            .readmore {
                position: absolute;
                right: 5%;
                align-self: center;
            }
            a {
                color: #949090;
                &:hover {
                    color: #313131;
                }
            }
        }
        .slide-news {
            position: relative;
            width: 95vw;
            height: 530px;
            .swiper-button-prev,
            .swiper-button-next {
                margin-top: -65px !important;
                margin-left: 20px;
                margin-right: 20px;
                color: #fff;
                width: 2.5vw;
                border-radius: 50%;
                opacity: 40%;
                height: 2.5vw;
                background-color: black;
            }
            .swiper-button-prev:after,
            .swiper-button-next:after {
                font-weight: 600;
                font-size: 22px;
            }
        }
        .slide-news>.swiper-slide__content {
            position: absolute;
            top: 0;
        }
        .swiper-slide {
            height: 440px;
            display: flex-wrap;
            background: #f8f8f8;
            align-items: center;
            justify-content: center;
            transition: all 200ms linear;
            transform: scale(0.8);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            @media only screen and (max-width: 1440px){height: 460px;}
            &.swiper-slide-active {
                transform: scale(1);
                background: $bg-post
            }
            .news-top {
                height: 250px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .news-bottom {
                padding: 20px;
                color: #000;
                .title {
                    font-family: $MyriadPro-Bold;
                    @include split_str(2);
                    line-height: 22px;
                }
                .desc {
                    @include split_str(4);
                    line-height: 22px;
                }
                // .date{
                //     position: absolute;
                //     left: 5%;
                //     bottom: 3%;
                // }
            }
        }
        .swiper-slide-prev,
        .swiper-slide-next {
            opacity: .5;
        }
        .swiper-slide__content {
            height: 300px;
        }
        // .swiper-container-horizontal > .swiper-pagination-bullets{
        // }
        // .swiper-pagination{
        // }
        .slide-news.swiper-container-horizontal .swiper-pagination-bullet {
            background: #fff!important;
            border: 1px solid #000 !important;
            width: 11px !important;
            height: 11px !important;
        }
        .slide-news.swiper-container-horizontal .swiper-pagination-bullet-active {
            background: #b7b6b6!important;
            border: 1px solid #b7b6b6 !important;
        }
        .opt {
            display: table;
            margin: 0 auto;
            transition: .5s ease-in-out;
            img {
                width: 2.5vw;
            }
            &:hover {
                transform: translateY(40%);
            }
        }
    }
}

#button-activity {
    display: block;
    visibility: hidden;
}

.show-button-activity {
    opacity: 1 !important;
    visibility: visible !important;
}

.field-of-activity-box {
    .box-node-right {
        position: fixed;
        top: 33%;
        right: 10px;
        z-index: 999;
        
        .pagination-customize {
            .pagi-item.one {
                &:hover {
                    background-color: #b81d22;
                }
            }
            .pagi-item.two {
                &:hover {
                    background-color: #bd8e40;
                }
            }
            .pagi-item.three {
                &:hover {
                    background-color: #3e79ad;
                }
            }
            .pagi-item.four {
                &:hover {
                    background-color: #398440;
                }
            }
            .pagi-item.five {
                &:hover {
                    background-color: #b3b3b4;
                }
            }
            .pagi-item {
                margin-bottom: 10px;
                text-align: right;
                display: flex;
                justify-content: flex-end;
                span {
                    width: 0;
                    transition: width 2s;
                }
                &:hover {
                    .text {
                        transition: all 400ms;
                    }
                    span {
                        width: auto;
                    }
                    border-radius: 30px;
                }
                .number {
                    // display: none;
                    width: 3.4vw;
                    height: 3.4vw;
                    background-color: #fff;
                    border-radius: 50%;
                    border: 1px solid rgba(0, 0, 0, 0.253);
                    img {
                        width: 2.4vw;
                        height: 1.5vw;
                        margin: 18px 10px 5px 10px;
                        border-radius: 50%;
                        @media only screen and (max-width: 1860px) {
                            margin: 15px 8px 5px 8px;
                        }
                        @media only screen and (max-width: 1440px) {
                            margin: 12px 10px 5px 8px;
                        }
                        @media only screen and (max-width: 1320px) {
                            margin: 10px 10px 5px 6px;
                        }
                        @media only screen and (max-width: 1100px) {
                            margin: 8px 10px 5px 4.5px;
                        }
                    }
                }
                .icon {
                    img {
                        width: 5vw;
                        filter: invert(42%) sepia(56%) saturate(491%) hue-rotate(174deg) brightness(89%) contrast(84%);
                    }
                }
                .icon,
                .text {
                    text-align: center;
                    line-height: 3.6vw;
                    height: 3.4vw;
                    @media(max-width: 1440px) {
                        height: 3.1vw;
                        line-height: 3.3vw;
                    }
                    @media(max-width: 1199px) {
                        height: 2.8vw;
                        line-height: 3.1vw;
                    }
                    background-color: #fff;
                }
                .text {
                    // padding-left: 15px;
                    // padding-right: 15px;
                    text-transform: uppercase;
                    border-radius: 30px 0 0 30px;
                    opacity: 0;
                    background-color: transparent;
                }
                .icon {
                    font-size: 25px;
                    background-color: #fff;
                    @media(max-width: 1440px) {
                        width: 3.1vw;
                    }
                    @media(max-width: 1199px) {
                        width: 2.8vw;
                    }
                }
                &:hover {
                    .text {
                        background-color: transparent;
                        color: #fff;
                        opacity: 1;
                        pointer-events: all;
                        transform: translateX(0);
                        padding-left: 50px;
                        padding-right: 50px;
                        font-family: $MyriadPro-Bold;
                    }
                    .icon {
                        background-color: #fff;
                        img {
                            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(204deg) brightness(101%) contrast(101%);
                        }
                    }
                }
            }
            //   > li:first-child {
            //     .icon {
            //         border: 1px solid rgba(0, 0, 0, 0.253);
            //     }
            //   }
            .pagi-item.active {
                .text {
                    background-color: transparent;
                    color: #fff;
                    opacity: 1;
                    pointer-events: all;
                    transform: translateX(0);
                }
                .icon {
                    background-color: #fff;
                    img {
                        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(204deg) brightness(101%) contrast(101%);
                    }
                }
            }
        }
    }
}