.main-slider {
    .owl-nav {
        display: none;
    }
    // .owl-dots {
    //     display: none;
    // }
    .swiper-slide {
        .img-slider {
            @media screen and (max-width: 1680px) {
                max-height: 600px;
                width: 100%;
                display: block;
            }
        }
        .content {
            background-color: #0f4a7db8;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            transform: translateY(-50%);
            padding: 40px;
            max-width: 530px;
            .title-post {
                position: relative;
                padding: 20px 0;
                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    right: 0;
                    top: 0;
                    height: 4px;
                    background-color: #fff;
                    width: 50%;
                }
                font-family: $MyriadPro-Bold;
                color: $white;
            }
            .description {
                color: $white;
                margin-bottom: 40px;
            }
            a {
                padding: 4px 14px;
                color: $white;
                border: 1px solid #fff;
                text-decoration: none;
            }
        }
    }
}

//common
.field-activity {
    &__content {
        display: flex;
        flex-wrap: wrap;
        .field-activity__item {
            overflow: hidden;
            position: relative;
            &:nth-child(1) {
                width: calc(50% - 20px);
                margin-right: 20px;
                margin-bottom: 20px;
            }
            &:nth-child(2) {
                width: 50%;
                margin-bottom: 20px;
            }
            &:nth-child(3) {
                width: calc(33.3333% - 20px);
                margin-right: 20px;
            }
            &:nth-child(4) {
                width: calc(33.3333% - 20px);
                margin-right: 20px;
            }
            &:nth-child(5) {
                width: 33.3333%;
            }
            .content-title {
                position: absolute;
                bottom: 0;
                left: 0;
                top: 0;
                right: 0;
                display: flex;
                align-items: center;
                // text-align: center;
                color: #fff;
                z-index: 2;
                .title {
                    width: 100%;
                    text-align: center;
                    font-family: $MyriadPro-Bold;
                }
                .content-none {
                    ul {
                        list-style: disc;
                        margin-left: 20px;
                    }
                    // padding-right: 20px;
                    bottom: 10%;
                    animation: mymove .5s ease-in;
                    transition: transform .5s,
                    visibility .5s ease-in;
                    display: none;
                    left: 38%;
                    position: absolute;
                    width: max-content;
                    font-family: $MyriadPro-Bold;
                    a {
                        color: $white;
                        display: inline-block;
                        padding: 7px 21px;
                        font-size: 15px;
                        border: 1px solid #a8a9ad;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
            &:hover .content-none {
                display: block;
                cursor: pointer;
            }
            &:hover .content-title {
                background-color: #215a9cb3;
            }
        }
    }
}

.partner-wrapper {
    .partner-banner {
        padding-top: 14.5%;
        max-height: 275px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        .logo-partner {
            display: inline-flex;
            position: absolute;
            top: 0;
            bottom: 0;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }
}

// news post
.news-home__content {
    .news-post {
        background-color: $bg-post;
        padding: 60px 30px;
        .title {
            font-family: $MyriadPro-Bold;
            padding: 5px;
            border: 1px solid $gray_text;
            width: max-content;
            opacity: 0.7;
        }
        .name {
            margin: 25px 0;
            font-family: $MyriadPro-Bold;
            text-transform: uppercase;
        }
        .time {
            margin-bottom: 40px;
            display: block;
        }
        .description {
            @include split_str(10);
        }
        .read-more {
            padding: 7px 22px;
            color: $white;
            border: 1px solid #fff;
            text-decoration: none;
            font-size: 15px;
            background-color: #015BAC;
        }
    }
    .post-slider {
        padding-top: 30px;
        .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    width: 460px;
                    height: 440px;
                    margin-right: 60px;
                    img {
                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                        transition: 0.2s;
                    }
                    // img:hover {
                    //     opacity: 0.8;
                    //     transform: scale(1.02);
                    //     box-sizing: border-box;
                    //     transition: 0.2s;
                    // }
                    .row {
                        // padding-top: 20px;
                        margin-left: 0;
                        .post-wrapper {
                            color: $gray_text;
                            text-decoration: none;
                            display: block;
                            background-color: $bg-post;
                            .post_name {
                                margin-top: 15px;
                                font-family: $MyriadPro-Bold;
                                margin-left: 20px;
                                margin-right: 20px;
                                @include split_str(2);
                            }
                            .post_description {
                                margin: 20px 0 15px 0;
                                margin-left: 20px;
                                font-family: $MyriadPro-Bold;
                            }
                            .time {
                                font-size: 15px;
                                padding-bottom: 20px;
                                margin-left: 20px;
                                display: block;
                            }
                        }
                    }
                }
                .swiper-slide-prev,
                .swiper-slide-next {
                    transition: all .2s ease-in;
                    // transform: scale(0.8);
                    // opacity: 0.4;
                }
                .swiper-slide-active {
                    transition: all .2s ease-in;
                    // transform: scale(1);
                }
            }
            .swiper-button-next {
                img {
                    position: absolute;
                    width: 45px;
                    left: -20px;
                }
            }
            .swiper-button-prev {
                img {
                    position: absolute;
                    width: 45px;
                    left: 2px;
                }
            }
            .swiper-button-prev::after,
            .swiper-button-next::after {
                display: none;
            }
        }
    }
}

.transport-wrapper {
    .transport-banner {
        position: relative;
        .field-activity__tabs {
            position: absolute;
            bottom: 20px;
            left: 10%;
            z-index: 2;
            .nav-tabs {
                border: unset;
                .nav-link {
                    padding: 0;
                    margin: 0;
                    border: unset;
                    &:hover {
                        border-color: unset;
                    }
                    &:focus {
                        background-color: unset;
                    }
                }
                .__tabs__item {
                    margin-right: 20px;
                    padding: 8px;
                    background-color: #ccc;
                    border-radius: 50%;
                    overflow: hidden;
                }
                .nav-link.active {
                    color: unset;
                    background-color: unset;
                    border: unset;
                }
                .nav-link.active~.__tabs__item {
                    background-color: $main_color;
                }
            }
        }
        .read-more {
            padding: 4px 14px;
            color: white;
            border: 1px solid #fff;
            text-decoration: none;
            position: absolute;
            right: 5%;
            bottom: 20px;
            z-index: 2;
        }
    }
    .tab-content {
        .swiper-slide {
            img {
                width: 100%;
            }
        }
    }
}

@keyframes mymove {
    from {
        margin-bottom: -200px;
    }
    to {
        margin-bottom: 0;
    }
}

.recruitment-wrapper {
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 10px;
        right: 40px;
        width: unset!important;
        left: unset!important;
    }
    .bg-slider {
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 23.5%;
        position: relative;
        .swiper-content {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #fff;
            &::after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(0, 0, 0, .5);
                z-index: 1;
            }
            .swiper-content__desc {
                z-index: 2;
                height: 100%;
                .title {
                    font-family: $MyriadPro-Bold;
                    text-transform: uppercase;
                    margin: 50px 0;
                }
                .description {
                    padding: 0 18%;
                    margin-bottom: 50px;
                    @include split_str(2);
                }
            }
            .btn-apply {
                padding: 20px 30px;
                color: $white;
                border: 1px solid $white;
                text-decoration: none;
                background-color: $white;
                text-transform: uppercase;
                font-family: $MyriadPro-Bold;
                color: $main_color;
            }
        }
        .swiper-content-bottom {
            color: $white;
            position: absolute;
            bottom: 0;
            z-index: 2;
            left: 10%;
        }
    }
}

#button-top {
    display: block;
    background-color: $main_color;
    width: 43px;
    height: 43px;
    text-align: center;
    border-radius: 50%;
    border: 3px solid #fff;
    position: fixed;
    bottom: 97px;
    right: 33px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    &::after {
        content: "\f077";
        font-family: "Font Awesome 5 Pro";
        font-weight: normal;
        font-style: normal;
        font-size: 17px;
        line-height: 34px;
        color: #fff;
    }
    &:hover {
        color: unset;
        text-decoration: none;
    }
}

.show-button-top {
    opacity: 1 !important;
    visibility: visible !important;
}

// .swiper-container-horizontal>.swiper-pagination-bullets {
//     bottom: 10px;
//     right: 40px;
//     width: unset!important;
//     left: unset!important;
// }
@media screen and(max-width:1680px) {
    .news-home__content {
        .news-post {
            padding: 30px 30px;
            .name {
                margin: 20px 0;
            }
            .time {
                margin-bottom: 25px;
            }
        }
    }
}

@media screen and(max-width:1440px) {
    .recruitment-wrapper {
        .bg-slider {
            .swiper-content {
                .swiper-content__desc {
                    .title {
                        margin: 30px;
                    }
                }
            }
        }
    }
}