.about-us {
    &__title {
        display: flex;
        align-items: center;
        margin: 0;
        line-height: 43px;
        font-family: $MyriadPro-Bold;
        text-transform: uppercase;
        color: $big-title;
        .big-title {
            margin-bottom: 0;
            margin-left: 10px;
        }
    }
}

.future-goal-banner {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 44.2%;
    .future-goal-wrapper {
        position: absolute;
        color: $white;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        .future-goal {
            img {
                height: 95px;
                width: 95px;
            }
            .title {
                font-family: $MyriadPro-Bold;
                margin-bottom: 40px;
                margin-top: 30px;
                text-transform: uppercase;
            }
            .desc {
                font-family: $MyriadPro-Bold;
            }
            border-right: 2px solid $white;
            height: 100%;
        }
        .future-goal.last {
            border: unset;
        }
    }
}

.field-activity-intro-wrapper {
    .desc-field {
        padding-bottom: 40px;
        .desc-cotent {
            margin: 0;
            text-align: center;
            padding: 0 13%;
            font-family: $MyriadPro-Bold;
        }
    }
}

.leader-of-us-wrapper {
    .leader-of-us__title {
        display: flex;
        align-items: center;
        margin: 0;
        line-height: 43px;
        font-family: $MyriadPro-Bold;
        text-transform: uppercase;
        color: $big-title;
        .big-title {
            margin-bottom: 0;
            margin-left: 10px;
        }
    }
    .title-admin-top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #ccc;
        .title-admin {
            margin-bottom: 0;
            display: block;
            padding: 10px 30px;
            background-color: #212121;
            font-family: $MyriadPro-Bold;
            text-transform: uppercase;
            width: max-content;
            text-align: center;
            color: $white;
            font-size: 23px;
        }
    }
    .admin-top-content {
        .row-1 {
            margin-top: 20px;
            .admin-top-item {
                max-width: 200px;
                .name {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    line-height: 15px
                }
            }
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 200px;
            }
        }
        .row-2 {
            display: flex;
            align-items: center;
            justify-content: center;
            .admin-top-item:nth-child(1) {
                max-width: 200px;
                .name {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    line-height: 15px
                }
                img {
                    width: 200px;
                }
                margin-right: 10px;
            }
            .admin-top-item:nth-child(2) {
                .name {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    line-height: 15px
                }
                max-width: 200px;
                margin-left: 10px;
                img {
                    width: 200px;
                }
            }
        }
        .row-3 {
            display: flex;
            align-items: center;
            justify-content: center;
            .admin-top-item {
                .name {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    line-height: 15px
                }
                max-width: 200px;
                margin-right: 20px;
                img {
                    width: 200px;
                }
            }
        }
    }
    .admin-bottom-content {
        margin-top: 20px;
        .bottom-content {
            display: flex;
            justify-content: center;
            align-items: center;
            .admin-bottom-item {
                .name {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    line-height: 15px
                }
                max-width: 200px;
                margin-right: 20px;
                img {
                    width: 200px;
                }
            }
        }
    }
    // .admin-top-content {
    //     margin-top: 20px;
    //     display: flex;
    //     flex-wrap: wrap;
    //     .admin-top-item:nth-child(1) {
    //         width: 100%;
    //         text-align: center;
    //     }
    //     .admin-top-item:nth-child(2) {
    //         width: 49%;
    //         text-align: right;
    //         margin-right: 10px;
    //     }
    //     .admin-top-item:nth-child(3) {
    //         width: 49%;
    //         margin-left: 10px;
    //     }
    //     .admin-top-item:nth-child(4) {
    //         width: 19%;
    //         margin-right: 17px;
    //     }
    //     .admin-top-item:nth-child(5) {
    //         width: 19%;
    //         margin-right: 17px;
    //     }
    //     .admin-top-item:nth-child(6) {
    //         width: 19%;
    //         margin-right: 17px;
    //     }
    //     .admin-top-item:nth-child(7) {
    //         width: 19%;
    //         margin-right: 17px;
    //     }
    //     .admin-top-item:nth-child(8) {
    //         width: 19%;
    //     }
    // }
    .title-admin-bottom {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #ccc;
        .title-admin {
            margin-bottom: 0;
            display: block;
            padding: 10px 15px;
            background-color: #212121;
            font-family: $MyriadPro-Bold;
            text-transform: uppercase;
            width: max-content;
            text-align: center;
            color: $white;
            font-size: 23px;
        }
    }
}

.achievement-wrapper {
    .achievement-tab-title {
        display: flex;
        align-items: center;
    }
    .achievement__tabs {
        margin-left: 20px;
        .nav-tabs {
            // border: unset;
            .nav-link {
                padding: 0;
                margin: 0;
                border: unset;
                color: #BABABA;
                font-family: $MyriadPro-Bold;
                font-size: 20px;
                &:hover {
                    border-color: unset;
                }
                &:focus {
                    background-color: unset;
                }
            }
            .__tabs__item {
                margin-right: 20px;
                overflow: hidden;
            }
            .nav-link.active {
                color: #00529E;
                background-color: unset;
                border: unset;
                font-family: $MyriadPro-Bold;
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 2px;
                    background-color: #00529E;
                }
            }
        }
    }
    .achievement__title {
        display: flex;
        align-items: center;
        margin: 0;
        line-height: 43px;
        font-family: $MyriadPro-Bold;
        text-transform: uppercase;
        color: $big-title;
        .big-title {
            margin-bottom: 0;
            margin-left: 10px;
        }
    }
    .content-tab {
        .content-title {
            max-width: 50%;
            font-family: $MyriadPro-Bold;
        }
        .top {
            display: flex;
            padding: 5% 10%;
            justify-content: space-between;
            .top-content {
                max-width: 232px;
                .img-content {
                    img {
                        height: 120px;
                    }
                    text-align: center;
                    .year {
                        font-family: $MyriadPro-Bold;
                        margin-top: 15px;
                        display: block;
                    }
                }
                .desc {
                    position: relative;
                    &::before {
                        position: absolute;
                        content: "";
                        left: 0;
                        right: 0;
                        top: 0;
                        height: 4px;
                        background-color: #fff;
                        width: 50%;
                    }
                }
            }
        }
        .bottom {
            display: flex;
            padding: 5% 0;
            justify-content: space-between;
            .bottom-content {
                max-width: 232px;
                .img-content {
                    img {
                        max-height: 75px;
                    }
                    text-align: center;
                    .year {
                        font-family: $MyriadPro-Bold;
                        margin-top: 15px;
                        display: block;
                    }
                }
                .desc {}
            }
        }
    }
}

.develop-wrapper {
    .develop__title {
        display: flex;
        align-items: center;
        margin: 0;
        line-height: 43px;
        font-family: $MyriadPro-Bold;
        text-transform: uppercase;
        color: $big-title;
        .big-title {
            margin-bottom: 0;
            margin-left: 10px;
        }
    }
    .develop-banner {
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding-top: 58%;
        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0, 0, 0, .8);
            z-index: 0;
        }
        .develop-content-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            color: $white;
            padding: 10%;
            height: 100%;
            .develop-content__slider {
                height: 100%;
                width: 100%;
                .slider.slider-for {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    .slick-list {
                        .slick-track {
                            .thumbnail-image {
                                .image-slider img {
                                    max-width: 100%;
                                    object-fit: cover;
                                }
                                .content-slider {
                                    .title {
                                        font-family: $MyriadPro-Bold;
                                        margin: 20px 0;
                                    }
                                    .desc {
                                        max-width: 686px;
                                        font-family: $MyriadPro-Bold;
                                        text-align: justify;
                                    }
                                }
                            }
                        }
                    }
                }
                .cycle-list-wrap {
                    ul.slick-slider {
                        .slick-prev::after {
                            content: "ÔÅ∑";
                            font-family: "Font Awesome 5 Pro";
                            font-weight: normal;
                            font-style: normal;
                            font-size: 37px;
                            line-height: 74px;
                            color: #fff;
                            margin-left: -20px;
                        }
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        padding: 20px 0 0;
                        li {
                            font-size: 2rem;
                            line-height: 2rem;
                            text-align: center;
                            float: none;
                            width: 100%!important;
                            color: #fff;
                            webkit-transition: font-size .5s ease;
                            transition: font-size .5s ease;
                            margin: 10px 0;
                            display: inline-block;
                            outline: 0;
                            padding: 0 30px 0 0;
                            opacity: .5;
                        }
                        li.slick-center {
                            font-size: 4rem;
                            text-shadow: 0 0 20px rgb(0 0 0 / 50%);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

#info_admin_modal {
    .modal-dialog {
        max-width: 900px;
        .modal-content {
            padding: 30px;
            .modal-body {
                // .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
                //     background: white;
                // }
                .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
                    background: rgb(128, 128, 128);
                }
                overflow-y: hidden;
                overflow-x: hidden;
                height: 500px;
                .info-admin {
                    margin-left: 40px;
                    margin-top: 40px;
                    .name {
                        color: $gray_text;
                    }
                    p {
                        margin-bottom: 10px;
                    }
                }
                .work-progress {
                    .title {
                        font-family: $MyriadPro-Bold;
                        color: #1F5595;
                        padding: 5px 0;
                        margin-bottom: 0;
                        margin-right: 0;
                        margin-left: 0;
                        margin-top: 20px;
                        border-top: 1px solid #ccc;
                        border-bottom: 1px solid #ccc;
                    }
                    .work-progress-table {
                        .table {
                            td {
                                padding: 10px;
                                border: unset;
                            }
                            th {
                                padding: 10px;
                                border: unset;
                                color: $gray_text;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal-open .modal {
    overflow-y: hidden;
}

@media screen and (max-width:1680px) {
    .achievement-wrapper {
        .content-tab {
            .bottom {
                padding: 2% 0;
                .bottom-content {
                    max-width: 190px;
                }
            }
        }
    }
}

// .vehicle-detail-banner .car-slider-desc {
//     max-width: 180px;
//     margin: 0 auto;
// }
// .banner-slider .slider.slider-for {
//     max-width: 84%;
//     padding-right: 35px;
// }
// .banner-slider .slider.slider-nav {
//     max-width: 16%;
// }
// .banner-slider .slider.slider-for,
// .banner-slider .slider.slider-nav {
//     width: 100%;
//     float: left;
// }
// .banner-slider .slider.slider-nav {
//     height: 610px;
//     overflow: hidden;
// }
// .slider-banner-image {
//     height: 610px;
// }
// .banner-slider .slider.slider-nav {
//     padding: 20px 0 0;
// }
// .slider-nav .slick-slide.thumbnail-image .thumbImg {
//     max-width: 178px;
//     height: 110px;
//     margin: 0 auto;
//     border: 1px solid #EBEBEB;
// }
// .slider-banner-image img,
// .slider-nav .slick-slide.thumbnail-image .thumbImg img {
//     height: 100%;
//     width: 100%;
//     object-fit: cover;
// }
// .slick-vertical .slick-slide:active,
// .slick-vertical .slick-slide:focus,
// .slick-arrow:hover,
// .slick-arrow:focus {
//     border: 0;
//     outline: 0;
// }
// .slider-nav .slick-slide.slick-current.thumbnail-image .thumbImg {
//     border: 2px solid #196DB6;
// }
// .slider-nav .slick-slide.slick-current span {
//     color: #196DB6;
// }
// .slider-nav .slick-slide {
//     text-align: center;
// }
// .slider-nav .slick-slide span {
//     font-size: 14px;
//     display: block;
//     padding: 5px 0 15px;
// }
// .slick-arrow {
//     width: 100%;
//     background-color: transparent;
//     border: 0;
//     background-position: center;
//     background-repeat: no-repeat;
//     font-size: 0;
//     height: 18px;
//     position: absolute;
//     left: 0;
//     right: 0;
//     z-index: 99;
// }
// .slick-prev {
//     top: 0;
// }
// .slick-next {
//     bottom: 0;
//     background-color: #fff;
// }
// .slick-prev.slick-arrow {
//     background-image: url(../images/black-up-arrow.png);
// }
// .slick-next.slick-arrow {
//     background-image: url(../images/black-down-arrow.png);
// }

/*End USE CSS for Slider*/