.about-us {
    overflow: hidden;
    &__title {
        display: flex;
        align-items: center;
        margin: 0;
        line-height: 43px;
        font-family: $MyriadPro-Bold;
        text-transform: uppercase;
        color: $big-title;
        img {
            @media only screen and (max-width: 420px) {
                width: 6vw;
            }
        }
        h1 {
            @media only screen and (max-width: 420px) {
                font-size: 25px;
            }
        }
        .big-title {
            margin-bottom: 0;
            margin-left: 10px;
        }
    }
}

.breadcrum-intro {
    @media only screen and (max-width: 1080px) {
        display: none;
    }
}

.future-goal-banner {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 44.2%;
    @media only screen and (max-width: 1080px) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .future-goal-wrapper {
        position: absolute;
        color: $white;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        .future-goal {
            img {
                height: 95px;
                width: 95px;
            }
            .title {
                font-family: $MyriadPro-Bold;
                margin-bottom: 40px;
                margin-top: 30px;
                text-transform: uppercase;
            }
            .desc {
                font-family: $MyriadPro-Bold;
            }
            border-right: 2px solid $white;
            height: 100%;
        }
        .future-goal.last {
            border: unset;
        }
    }
}

.field-activity-intro-wrapper {
    .desc-field {
        padding-bottom: 40px;
        .desc-cotent {
            margin: 0;
            text-align: center;
            padding: 0 13%;
            font-family: $MyriadPro-Bold;
            @media only screen and (max-width: 1080px) {
                padding: 0;
            }
        }
    }
}

.leader-of-us-wrapper {
    .leader-of-us__title {
        display: flex;
        align-items: center;
        margin: 0;
        line-height: 43px;
        font-family: $MyriadPro-Bold;
        text-transform: uppercase;
        color: $big-title;
        img {
            @media only screen and (max-width: 420px) {
                width: 6vw;
            }
        }
        h2 {
            @media only screen and (max-width: 420px) {
                font-size: 25px;
            }
        }
        .big-title {
            margin-bottom: 0;
            margin-left: 10px;
        }
    }
    .title-admin-top {
        @media only screen and (max-width: 1080px) {
            padding: 5% 0 0 0;
        }
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #ccc;
        .title-admin {
            margin-bottom: 0;
            display: block;
            padding: 10px 30px;
            background-color: #212121;
            font-family: $MyriadPro-Bold;
            text-transform: uppercase;
            width: max-content;
            text-align: center;
            color: $white;
            font-size: 23px;
            @media only screen and (max-width: 420px) {
                font-size: 16px;
            }
        }
    }
    .admin-content.top {
        display: flex;
        flex-wrap: wrap;
        .item-member:nth-child(1) {
            margin-top: 20px;
            width: 100%;
            .admin-item {
                text-align: center;
                // max-width: 200px;
                width: 19%;
                @media only screen and (max-width: 1080px) {
                    width: 25%;
                }
                @media only screen and (max-width: 420px) {
                    width: 40%;
                }
                .name {
                    margin-top: 20px;
                    margin-bottom: 0;
                    line-height: 15px;
                    @media only screen and (max-width: 420px) {
                        margin-top: 10px;
                    }
                }
            }
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
            }
        }
        .item-member:nth-child(2) {
            width: 50%;
            margin-top: 20px;
            text-align: center;
            padding-right: 10px;
            @media only screen and (max-width: 600px){padding-right: 5px;}
            .admin-item {
                width: 38.4%;
                float: right;
                @media only screen and (max-width: 1080px) {
                    width: 45%;
                }
                @media only screen and (max-width: 420px) {
                    width: 80%;
                }
                .name {
                    margin-top: 10px;
                    margin-bottom: -10px;
                }
                img {
                    width: 100%;
                }
            }
        }
        .item-member:nth-child(3) {
            width: 50%;
            margin-top: 20px;
            text-align: center;
            // padding-left: 10px;
            .admin-item {
                float: left;
                width: 38.4%;
                @media only screen and (max-width: 1080px) {
                    width: 45%;
                }
                @media only screen and (max-width: 420px) {
                    width: 80%;
                }
                .name {
                    margin-top: 10px;
                    margin-bottom: -10px;
                }
                img {
                    width: 100%;
                }
            }
        }
        .item-member:nth-child(4) {
            @media only screen and (max-width: 1080px) {
                margin-left: 12%;
            }
            @media only screen and (max-width: 420px) {
                margin-left: 10%;
            }
        }
        .item-member:nth-child(6) {
            @media only screen and (max-width: 420px) {
                margin-left: 10%;
            }
        }
        .item-member:nth-child(8) {
            @media only screen and (max-width: 420px) {
                margin-left: 30% !important;
            }
        }
        .item-member:nth-child(7) {
            @media only screen and (max-width: 1080px) {
                margin-left: 24%;
            }
            @media only screen and (max-width: 420px) {
                margin-left: 0;
            }
        }
        .item-member:nth-child(4),
        .item-member:nth-child(5),
        .item-member:nth-child(6),
        .item-member:nth-child(7),
        .item-member:nth-child(8) {
            width: 19%;
            margin-right: 1.25%;
            @media only screen and (max-width: 1080px) {
                width: 25%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            @media only screen and (max-width: 420px) {
                width: 40%;
            }
            .admin-item {
                text-align: center;
                .name {
                    margin-top: 20px;
                    margin-bottom: 0;
                    line-height: 15px
                }
                // max-width: 200px;
                // margin-right: 20px;
                img {
                    width: 100%;
                }
            }
        }
        .item-member:nth-child(8) {
            margin: 0px;
        }
    }
    .admin-content.bottom {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        .item-member {
            margin-right: 1.25%;
            width: 19%;
            @media only screen and (max-width: 1080px) {
                width: 25%;
            }
            @media only screen and (max-width: 420px) {
                width: 70% !important;
            }
            .admin-item {
                text-align: center;
                .name {
                    margin-top: 20px;
                    margin-bottom: 0px;
                    line-height: 15px
                }
                img {
                    width: 100%;
                }
            }
        }
    }
}

.achievement-wrapper {
    .achievement-tab-title {
        display: flex;
        align-items: center;
        img {
            @media only screen and (max-width: 420px) {
                width: 6vw;
            }
        }
        h2 {
            @media only screen and (max-width: 420px) {
                font-size: 25px;
            }
        }
        .achievement__tabs {
            margin-left: 20px;
            @media only screen and (max-width: 1080px) {
                display: none;
            }
            .nav-tabs {
                // border: unset;
                .nav-link {
                    padding: 0;
                    margin: 0;
                    border: unset;
                    color: #BABABA;
                    font-family: $MyriadPro-Bold;
                    font-size: 20px;
                    text-transform: uppercase;
                    // @media only screen and (max-width: 1080px){
                    //     width: 42vw;
                    // }
                    @media only screen and (max-width: 420px) {
                        font-size: 16px;
                    }
                    &:hover {
                        border-color: unset;
                    }
                    &:focus {
                        background-color: unset;
                    }
                }
                .__tabs__item {
                    margin-right: 20px;
                    overflow: hidden;
                }
                .__tabs__item:last-child {
                    margin: 0;
                }
                .nav-link.active {
                    color: #00529E;
                    background-color: unset;
                    border: unset;
                    font-family: $MyriadPro-Bold;
                    position: relative;
                    &::before {
                        position: absolute;
                        content: "";
                        left: 0;
                        right: 0;
                        bottom: 0;
                        height: 2px;
                        background-color: #00529E;
                    }
                }
            }
        }
        .achievement__title {
            display: flex;
            align-items: center;
            margin: 0;
            line-height: 43px;
            font-family: $MyriadPro-Bold;
            text-transform: uppercase;
            color: $big-title;
            .big-title {
                margin-bottom: 0;
                margin-left: 10px;
            }
        }
    }
    .achievement-tabs-mobile {
        display: none;
        margin-left: 20px;
        appearance: none;
        -webkit-appearance: none;
        opacity: 1;
        -moz-appearance: none;
        @media only screen and (max-width: 1080px) {
            display: block;
            margin-left: 0;
            margin-top: 2%;
        }
        .nav-tabs {
            // border: unset;
              
            .nav-link {
                padding: 0;
                margin: 0;
                border: unset;
                color: #BABABA;
                font-family: $MyriadPro-Bold;
                font-size: 20px;
                text-transform: uppercase;
               
                @media only screen and (max-width: 1080px) {
                    width: 40vw;

                }
                @media only screen and (max-width: 420px) {
                    font-size: 16px;
                    width: 43vw;
                }
                &:hover {
                    border-color: unset;
                }
                &:focus {
                    background-color: unset;
                }
            }
            .__tabs__item {
               
                margin-right: 20px;
                overflow: hidden;
                @media only screen and (max-width: 1080px) {
                    width: 25vw;
                    display: table;
                    margin: 0 auto;
                    text-align: center;
                   
                }
                // @media only screen and (max-width: 380px) {
                //     width: 20vw;
                // }
            }
            .__tabs__item:last-child {
                margin: 0;
                @media only screen and (max-width: 1080px) {
                    width: 25vw;
                    display: table;
                    margin: 0 auto;
                    text-align: center;
                   
                }
                // @media only screen and (max-width: 380px) {
                //     width: 20vw;
                // }
            }
            .nav-link.active {
                color: #00529E;
                background-color: unset;
                border: unset;
                font-family: $MyriadPro-Bold;
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 2px;
                    background-color: #00529E;
                }
            }
        }
    }
    .content-tab {
        .content-title {
            max-width: 50%;
            font-family: $MyriadPro-Bold;
            @media only screen and (max-width: 1080px) {
                max-width: 100%;
            }
            @media only screen and (max-width: 420px) {
                font-size: 14px;
            }
        }
        .bottom {
            display: flex;
            margin: 5% 0 -100px 0;
            flex-wrap: wrap;
            margin-left: -2%;
            margin-right: -2%;
            .bottom-content {
                flex: 1 25%;
                max-width: 25%;
                padding-right: 2%;
                padding-left: 2%;
                margin-bottom: 3%;
                @media only screen and (max-width: 400px) {
                    flex: 1 50%;
                    max-width: 50%;
                }
                .img-content {
                    img {
                        max-height: 80px;
                        @media only screen and (max-width: 420px) {
                            height: 40px;
                        }
                    }
                    text-align: center;
                    .year {
                        font-family: $MyriadPro-Bold;
                        margin-top: 15px;
                        display: block;
                        @media only screen and (max-width: 420px) {
                            font-size: 16px;
                        }
                    }
                }
                .desc {
                    text-align: center;
                    line-height: 1;
                    @media only screen and (max-width: 420px) {
                        font-size: 15px !important;
                    }
                    strong {
                        font-family: $MyriadPro-Bold;
                    }
                }
            }
        }
    }
}

.develop-wrapper {
    // margin-bottom: -40px;
    .develop__title {
        display: flex;
        align-items: center;
        margin: 0;
        line-height: 43px;
        font-family: $MyriadPro-Bold;
        text-transform: uppercase;
        color: $big-title;
        padding-top: 140px;
        .big-title {
            margin-bottom: 0;
            margin-left: 10px;
        }
        h2 {
            @media screen and (max-width: 420px) {
                font-size: 25px;
            }
        }
        img {
            @media screen and (max-width: 420px) {
                width: 6vw;
            }
        }
    }
    .develop__title.active {
        background-color: #121212;
        -webkit-transition: background-color .7s;
        -o-transition: background-color .7s;
        transition: background-color .7s;
    }
    .develop-banner {
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding-top: 37vw;
        @media only screen and (max-width: 1080px) {
            padding-bottom: 10vw;
        }
        @media only screen and (max-width: 768px) {
            padding-top: 53vw;
            min-height: 420px;
        }
        .develop-content-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            color: $white;
            height: 100%;
            .develop-content__slider {
                >.row {
                    margin: 0;
                }
                height: 100%;
                width: 100%;
                .thumb-wrapper {
                    padding: 0 20%;
                    margin-left: -60px;
                    @media only screen and (max-width: 992px) {
                        padding: 0 20%;
                    }
                    @media only screen and (max-width: 768px) {
                        padding: 0 10%;
                    }
                }
                .slider.slider-for {
                    padding-top: 50px;
                    // padding-left: 7%;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    @media only screen and (max-width: 768px) {
                        margin-left: 50px;
                        padding-top: 0;
                    }
                    @media only screen and (max-width: 480px) {
                        margin-left: 40px;
                    }
                    .slick-list {
                        .slick-track {
                            .thumbnail-image {
                                max-height: calc(37vw - 100px);
                                cursor: pointer;
                                @media only screen and (max-width: 768px) {
                                    max-height: 300px;
                                }
                                .mCSB_scrollTools .mCSB_draggerContainer {
                                    opacity: 0;
                                    visibility: hidden;
                                    width: 4px;
                                    @media only screen and (max-width: 768px) {
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }
                                &:hover .mCSB_scrollTools .mCSB_draggerContainer {
                                    transition: height 10s;
                                    opacity: 1;
                                    visibility: visible;
                                    background: gray;
                                }
                                .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
                                    background: #fff;
                                }
                                .mCS-dark.mCSB_scrollTools .mCSB_dragger_bar {
                                    background: #fff;
                                    display: none
                                }
                                .image-slider img {
                                    object-fit: cover;
                                    height: 20vw;
                                    width: 100%;
                                    @media only screen and (max-width: 768px) {
                                        height: 200px;
                                    }
                                    @media only screen and (max-width: 480px) {
                                        height: 200px;
                                    }
                                }
                                .content-slider {
                                    .title {
                                        font-family: $MyriadPro-Bold;
                                        margin: 20px 0;
                                        @media only screen and (max-width: 768px) {
                                            margin: 10px 0;
                                        }
                                        @media only screen and (max-width: 380px) {
                                            font-size: 16px;
                                        }
                                    }
                                    .desc__wrapper {
                                        .desc {
                                            max-width: 100%;
                                            text-align: justify;
                                            cursor: pointer;
                                            @media only screen and (max-width: 380px) {
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .cycle-list-wrap {
                    padding: 25% 0;
                    @media only screen and (max-width: 992px) {
                        padding: 0;
                    }
                    .thumb-year {
                        @media only screen and (max-width: 1080px) {
                            margin-top: -40px;
                        }
                        @media only screen and (max-width: 1280px) {
                            margin-top: -40px;
                            margin-left: 40px;
                        }
                    }
                    &:hover .carousel-controls {
                        display: block!important;
                        transition: all 0.5s ease;
                    }
                    ul.slick-slider {
                        .slick-list {
                            -ms-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(.1, rgba(0, 0, 0, .75)), color-stop(.75, #000), color-stop(1, rgba(0, 0, 0, 0)));
                            -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(.1, rgba(0, 0, 0, .75)), color-stop(.75, #000), color-stop(1, rgba(0, 0, 0, 0)));
                            mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(.1, #000), color-stop(.75, #000), color-stop(1, rgba(0, 0, 0, 0)));
                        }
                        button {
                            height: 40px;
                            width: 40px;
                            line-height: 49px;
                            background: transparent;
                            border: unset;
                            border-radius: 4px;
                            text-align: center;
                            margin: 0;
                            padding: 0;
                            color: transparent;
                            @media only screen and (max-width: 768px) {
                                display: none!important;
                            }
                            &:focus {
                                outline: none;
                                border: none;
                            }
                        }
                        .slick-prev::after {
                            content: "";
                            font-family: "Font Awesome 5 Pro";
                            font-weight: normal;
                            font-style: normal;
                            font-size: 37px;
                            line-height: 74px;
                            color: #fff;
                            margin-left: -20px;
                            position: absolute;
                            top: 0;
                            right: 50%;
                            @media only screen and (max-width: 1080px) {
                                display: none;
                            }
                        }
                        .slick-next::after {
                            content: "\f078";
                            font-family: "Font Awesome 5 Pro";
                            font-weight: normal;
                            font-style: normal;
                            font-size: 37px;
                            line-height: 25px;
                            color: #fff;
                            margin-left: -20px;
                            position: absolute;
                            right: 50%;
                            @media only screen and (max-width: 1080px) {
                                display: none;
                            }
                        }
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        padding: 20px 0 0;
                        @media only screen and (max-width: 992px) {
                            margin-top: 10px;
                            margin-left: 55px;
                            padding: 2%;
                        }
                        @media only screen and (max-width: 768px) {
                            margin: 0;
                            padding: 20px 0;
                        }
                        li {
                            font-size: 2rem;
                            line-height: 2rem;
                            cursor: pointer;
                            text-align: center;
                            float: none;
                            // width: 100%!important;
                            color: #fff;
                            -webkit-transition: font-size .5s ease;
                            transition: font-size .5s ease;
                            margin: 10px 0;
                            display: inline-block;
                            outline: 0;
                            padding: 0 30px 0 0;
                            opacity: .5;
                            @media only screen and (max-width: 480px) {
                                font-size: 1rem;
                            }
                        }
                        li.slick-center {
                            font-size: 4rem;
                            font-family: $MyriadPro-Bold;
                            opacity: 1;
                            @media only screen and (max-width: 992px) {
                                font-size: 2.5rem;
                            }
                            @media only screen and (max-width: 480px) {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
                .carousel-controls {
                    @media only screen and (max-width: 1080px) {
                        display: none;
                    }
                    position: absolute;
                    bottom: 30px;
                    left: 30px;
                    margin-right: 30px;
                    button:focus {
                        outline: none;
                    }
                    button,
                    .play,
                    .pause {
                        height: 40px;
                        width: 40px;
                        line-height: 49px;
                        background: unset;
                        border: unset;
                        text-align: center;
                        margin: 0;
                        padding: 0;
                        opacity: .6;
                        &:hover {
                            opacity: 1;
                        }
                    }
                    .play.active,
                    .pause.active {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.modal_admin {
    display: none;
   
    .modal-dialog {
        max-width: 900px;
        @media only screen and (max-width: 992px){ max-width: 700px;}
        @media only screen and (max-width: 768px){max-width: 500px;}
        @media only screen and (max-width: 600px){max-width: 400px; margin: 50px 10px;}
        .modal-content {
            padding: 30px;
          
            .modal-body {
                .mCSB_scrollTools .mCSB_draggerContainer {
                    width: 4px;
                    background: gray;
                }
                .mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
                    background: #fff;
                }
                .mCS-dark.mCSB_scrollTools .mCSB_dragger_bar {
                    background: #fff;
                    display: none
                }
                overflow-y: hidden;
                overflow-x: hidden;
                height: 500px;
                @media only screen and (max-width: 600px){
                    height: 450px;
                  
                }
                .mCS_img_loaded{
                    @media only screen and (max-width: 600px){
                        width: 50% !important;
                        margin: 0 auto;
                        padding-left: 40px;
                    }
                }
                // .close{
                //     i{
                //         @media only screen and (max-width: 600px){
                //             transform: translateY(-65vw);
                //         }
                //     }
                   
                // }
                .info-admin {
                    margin-left: 40px;
                    margin-top: 40px;
                    @media only screen and (max-width: 600px){
                        margin: 15px 0;
                      
                    }
                    .name {
                        color: $gray_text;
                    }
                    p {
                        margin-bottom: 10px;
                    }
                }
                .work-progress {
                    .title {
                        font-family: $MyriadPro-Bold;
                        color: #1F5595;
                        padding: 5px 0;
                        margin-bottom: 0;
                        margin-right: 0;
                        margin-left: 0;
                        margin-top: 20px;
                        border-top: 1px solid #ccc;
                        border-bottom: 1px solid #ccc;
                    }
                    .work-progress-table {
                        .table {
                            td {
                                padding: 10px;
                                border: unset;
                                p {
                                    margin: 0;
                                }
                            }
                            th {
                                padding: 10px;
                                border: unset;
                                color: $gray_text;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal-open .modal {
    overflow-y: hidden;
}

@media screen and(max-width:1100px) {
    .future-goal-banner {
        .future-goal-wrapper {
            .future-goal {
                .title {
                    margin: 10px 0;
                }
                img {
                    width: 70px;
                    height: 70px;
                }
            }
        }
    }
}
 
@media screen and(max-width:768px) {
    .future-goal-banner {
        min-height: 500px;
    }
}

@media screen and(max-width:576px) {
    .future-goal-banner {
        min-height: 700px;
        .future-goal-wrapper {
            .future-goal {
                border: unset;
            }
        }
    }
}

.cycle-list-wrap:hover~.carousel-controls {
    display: block!important;
}