.media_content-wrapper {
    padding-top: 20px;
    .media-content {
        display: flex;
        .loading {
            width: 68.2%;
            margin-right: 2.7%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .content-left {
            width: 68.2%;
            margin-right: 2.7%;
            .shareholder-infomation_left {
                width: 100%;
                margin-right: 0;
            }
            .media__content_left {
                .news__content {
                    .new-post-slide {
                        padding-left: 8px;
                        padding-right: 8px;
                        margin-left: -8px;
                        margin-right: -8px;
                    }
                    .swiper-container-horizontal>.swiper-pagination-bullets {
                        display: none;
                    }
                    // background-color: $bg-post;
                    .news__top {
                        margin-top: 8px;
                        margin-bottom: 20px;
                        box-shadow: 0 5px 8px -5px #555;
                        // margin-bottom: 30px;
                        height: 23vw;
                        min-height: 370px;
                        display: flex;
                        .img-post {
                            flex: 0 0 65%;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: bottom;
                            }
                        }
                        .news-post {
                            flex: 0 0 35%;
                            background-color: $bg-post;
                            padding: 40px 30px;
                            @media screen and (max-width: 1200px) {
                                padding: 30px 20px;
                            }
                            &:hover .name {
                                color: $main_color;
                            }
                            .title {
                                font-family: $MyriadPro-Bold;
                                padding: 5px;
                                border: 1px solid $gray_text;
                                width: max-content;
                                opacity: 0.7;
                            }
                            a {
                                color: unset;
                                .name {
                                    margin: 15px 0;
                                    // @include split_str(2);
                                    max-height: 44px;
                                    overflow: hidden;
                                    line-height: 22px;
                                    // text-align: justify;
                                    @media screen and (max-width: 1440px) {
                                        margin: 10px 0;
                                    }
                                    font-family: $MyriadPro-Bold;
                                    text-transform: uppercase;
                                }
                            }
                            .time {
                                margin-bottom: 15px;
                                @media screen and (max-width: 1440px) {
                                    margin-bottom: 10px;
                                }
                                display: block;
                                font-size: 15px;
                            }
                            .description {
                                margin-bottom: 20px;
                                line-height: 22px;
                                max-height: 154px;
                                overflow: hidden;
                                // @include split_str(6);
                                @media screen and(max-width: 1680px) {
                                    max-height: 110px;
                                }
                            }
                            .read-more {
                                padding: 7px 22px;
                                color: $white;
                                border: 1px solid #fff;
                                text-decoration: none;
                                font-size: 15px;
                                background-color: $main_color;
                                position: absolute;
                                bottom: 55px;
                            }
                            .read-more.message {
                                position: unset;
                            }
                        }
                    }
                    .post-slider {
                        .post-slide-bottom {
                            padding-left: 8px;
                            padding-right: 8px;
                        }
                        margin-left: -8px;
                        margin-right: -8px;
                        .post_content_bottom {
                            box-shadow: 0 5px 8px -5px #555;
                            margin-top: 8px;
                            margin-bottom: 8px;
                            overflow: hidden;
                            .post-wrapper {
                                padding-bottom: 10px;
                                &:hover {
                                    .post_name {
                                        color: $main_color;
                                    }
                                }
                                // margin-right: 20px;
                                .post-thumbnail {
                                    width: 100%;
                                    height: auto;
                                    overflow: hidden;
                                    &:hover {
                                        img {
                                            transform: scale(1.05);
                                        }
                                    }
                                    img {
                                        width: 100%;
                                        height: 175px;
                                        transition: transform .3s, visibility .3s ease-in;
                                    }
                                }
                                color: $gray_text;
                                text-decoration: none;
                                display: block;
                                background-color: $bg-post;
                                .post_name {
                                    margin-top: 15px;
                                    font-family: $MyriadPro-Bold;
                                    margin-left: 20px;
                                    margin-right: 20px;
                                    text-transform: uppercase;
                                    line-height: 22px;
                                    max-height: 44px;
                                    overflow: hidden;
                                }
                                .post_description {
                                    margin: 5px 20px;
                                    height: 66px;
                                    overflow: hidden;
                                    line-height: 22px;
                                    text-align: justify;
                                }
                                .time {
                                    font-size: 15px;
                                    margin-left: 20px;
                                    display: block;
                                }
                            }
                        }
                        .swiper-button-next {
                            right: 32px;
                        }
                        .swiper-button-prev {
                            left: 20px;
                        }
                        .swiper-button-prev:after,
                        .swiper-button-next:after {
                            display: none;
                        }
                    }
                }
            }
            .list-media {
                .media-item:last-child {
                    border: unset;
                }
                .media-item {
                    padding: 30px 0;
                    border-bottom: 1px solid #707070;
                    .img-content {
                        display: flex;
                        justify-content: space-between;
                        &:hover .name {
                            color: $main_color;
                        }
                        .image {
                            width: 37%;
                            .post-thumbnail {
                                width: 100%;
                                height: 100%;
                                overflow: hidden;
                                img {
                                    width: 100%;
                                    max-height: 191px;
                                    object-fit: cover;
                                    object-position: center;
                                    transition: transform .3s, visibility .3s ease-in;
                                    &:hover {
                                        transform: scale(1.1);
                                    }
                                }
                            }
                        }
                        .content {
                            margin-left: 7%;
                            width: 56%;
                            position: relative;
                            align-self: center;
                            a {
                                color: unset;
                                &:hover {
                                    color: unset;
                                }
                            }
                            .name {
                                font-family: $MyriadPro-Bold;
                                text-transform: uppercase;
                                line-height: 22px;
                                max-height: 44px;
                                @media screen and (max-width: 1080px) {
                                    text-align: left;
                                }
                            }
                            .time {
                                margin: 10px 0;
                            }
                            .desc {
                                margin-bottom: 0;
                                text-align: justify;
                                height: 66px;
                                line-height: 22px;
                                overflow: hidden;
                                // @include split_str(3);
                            }
                        }
                    }
                }
            }
        }
        .content-left.render-media {
            .container-customize {
                padding: 0;
            }
        }
    }
}

.media-tab {
    .media-tab-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .media__title {
            display: flex;
            align-items: center;
            margin: 0;
            line-height: 43px;
            font-family: $MyriadPro-Bold;
            text-transform: uppercase;
            margin-right: 9%;
            color: $big-title;
            .big-title {
                margin-bottom: 0;
                margin-left: 10px;
            }
        }
        .media-tab__title {
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-bottom: .1px solid #ccc;
            .media__tabs {
                .nav-tabs {
                    border: unset;
                    .nav-link {
                        padding: 0;
                        margin: 0;
                        border: unset;
                        color: #BABABA;
                        font-family: $MyriadPro-Bold;
                        font-size: 20px;
                        &:hover {
                            border-color: unset;
                        }
                        &:focus {
                            background-color: unset;
                        }
                    }
                    .__tabs__item {
                        margin-right: 50px;
                        overflow: hidden;
                    }
                    .nav-link.active {
                        color: #00529E;
                        background-color: unset;
                        border: unset;
                        font-family: $MyriadPro-Bold;
                        position: relative;
                        &::before {
                            position: absolute;
                            content: "";
                            left: 0;
                            right: 0;
                            bottom: 0;
                            height: 4px;
                            background-color: #00529E;
                        }
                    }
                }
            }
            .view-all {
                a {
                    font-size: 15px;
                    color: unset;
                }
            }
        }
    }
    .media-wrapper {
        position: relative;
        .tab-pane {
            .media-slider {
                height: 37vw;
                .swiper-slide {
                    .video-wrapper {
                        margin-bottom: -10px;
                    }
                    .__video {
                        height: 37vw;
                        object-fit: cover;
                    }
                    img {
                        width: 100%;
                        height: 37vw;
                    }
                }
            }
            .media-slider.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
                display: inline-block;
                margin: 0 6px;
                border: 1px solid #ddd;
                opacity: 1;
                background: unset;
                width: 11px;
                height: 11px;
                @media screen and(max-width: 768px) {
                    width: 8px;
                    height: 8px;
                }
            }
            .media-slider.swiper-container-horizontal .swiper-pagination-bullet-active {
                background: #fff!important;
            }
            .swiper-container {
                width: 100%;
                height: 100%;
            }
            .read-more {
                padding: 4px 14px;
                color: white;
                border: 1px solid #fff;
                text-decoration: none;
                position: absolute;
                right: 5%;
                bottom: 30px;
                z-index: 2;
            }
        }
    }
}

//responsive
@media screen and (max-width:1080px) {
    .page-content {
        overflow: hidden;
    }
    .media_content-wrapper {
        padding: 0;
        .media-content {
            display: unset;
            .content-left {
                width: 100%;
                margin-right: unset;
                .media__content_left {
                    .news__content {
                        display: none;
                    }
                }
                .news-content-mobile {
                    display: block!important;
                    position: relative;
                    .swiper-container {
                        width: 100%;
                        height: 100%;
                        .swiper-wrapper {
                            .news-content {
                                height: 60vw;
                                min-height: 470px;
                                // min-height: 370px;
                                .img-post {
                                    height: 80%;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        object-position: bottom;
                                    }
                                }
                                .name {
                                    height: 15%;
                                    display: flex;
                                    align-items: center;
                                    h3 {
                                        text-transform: uppercase;
                                        padding: 0 20px;
                                        margin: 0;
                                        font-family: $MyriadPro-Bold;
                                        @include split_str(2);
                                        font-size: 20px;
                                    }
                                    background-color: #f1f1f1;
                                }
                            }
                        }
                    }
                    .control-slide-news {
                        position: absolute;
                        left: 47%;
                        bottom: -2px;
                        .pagination-news {
                            display: flex;
                            bottom: -12px;
                            font-family: $MyriadPro-Bold;
                        }
                        .swiper-pagination-current {
                            color: $main_color;
                        }
                        .swiper-button-next {
                            &::after {
                                font-size: 20px;
                                font-weight: bold;
                                color: $main_color;
                            }
                            right: -65px;
                        }
                        .swiper-button-prev {
                            &::after {
                                font-size: 20px;
                                font-weight: bold;
                                color: $main_color;
                            }
                            left: -45px;
                        }
                    }
                }
                .news-content-mobile.human {
                    margin-bottom: 5%;
                }
                .list-media {
                    .media-item {
                        .img-content {
                            .content {
                                margin-left: 3%;
                                width: 60%;
                                .name {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }
            .post-sidebar-desktop {
                display: none;
            }
        }
    }
    .media-tab {
        .media-tab-wrapper {
            display: unset;
            .media__title {
                margin-right: 0;
                margin-bottom: 10px;
                img {
                    width: 4vw;
                }
            }
            .media-tab__title {
                align-items: center;
            }
        }
    }
}

@media screen and(max-width:768px) {
    .news-content-mobile {
        .news-content {
            .name {
                h3 {
                    font-size: 20px;
                }
            }
        }
    }
    .media_content-wrapper {
        .media-content {
            .content-left {
                .list-media {
                    .media-item {
                        padding: 15px 0;
                        .img-content {
                            .content {
                                .name {
                                    font-size: 18px;
                                }
                                .desc {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:576px) {
    .media__title {
        margin-right: 0;
        margin-bottom: 10px;
        img {
            width: 6vw;
        }
    }
    .media_content-wrapper {
        .media-content {
            .content-left {
                .news-content-mobile {
                    .swiper-container {
                        .swiper-wrapper {
                            .news-content {
                                min-height: 300px;
                                .img-post {
                                    height: 75%;
                                }
                                .name {
                                    height: 20%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .media_content-wrapper {
        .media-content {
            .content-left {
                .list-media {
                    .media-item {
                        .img-content {
                            .content {
                                .name {
                                    font-size: 18px;
                                }
                                .desc {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:480px) {
    .news-content-mobile {
        .news-content {
            .name {
                h3 {
                    font-size: 17px;
                }
            }
        }
    }
    .media_content-wrapper {
        .media-content {
            .content-left {
                .list-media {
                    .media-item {
                        .img-content {
                            .content {
                                .name {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .media-tab .media-wrapper .tab-pane .media-slider .swiper-slide img {
        height: unset;
        object-fit: unset;
    }
    .media-tab {
        .media-wrapper {
            .tab-pane {
                .read-more {
                    bottom: 9px;
                    font-size: 14px;
                    padding: 2px 5px;
                    right: 4%;
                }
            }
        }
    }
}

@media screen and(max-width:380px) {
    .media-tab .media-tab-wrapper .media-tab__title .media__tabs .nav-tabs .__tabs__item {
        margin-right: 20px;
    }
}